<template>
  <v-layout align-start>
<!--------------------------------------------Pantalla Principal----------------------------------------------------------------------------------->        
        <v-flex>
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item :to="{ path: '/home' }">Inicio</el-breadcrumb-item>
                <el-breadcrumb-item>Lista de Acciones</el-breadcrumb-item>
            </el-breadcrumb>
            <el-divider></el-divider>
            <v-toolbar flat color="white">
                <v-toolbar-title>Acciones</v-toolbar-title>
                <v-divider
                class="mx-4"
                inset
                vertical
                ></v-divider>
                <v-spacer/>
                <v-text-field
                class="text-xs-center"
                v-model="search"
                append-icon="search"
                label="Búsqueda"
                single-line
                hide-details
                ></v-text-field>
                <v-spacer/>
                <el-button type="primary" size="small" @click="dialog = true">Nueva Acción</el-button>
            </v-toolbar>
            <v-data-table 
                :headers="headers" 
                :items="acciones" 
                :search="search"
                class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td>{{props.item.numero}}</td>
                    <td>{{props.item.tema}}</td>
                    <td>{{props.item.reporte}}</td>
                    <td>{{props.item.detalleAccion}}</td>
                    <td>{{props.item.username}}</td>
                    <td>{{props.item.nombre}}</td>
                    <td>{{props.item.nombreTipo}}</td>
                    <td><v-chip :color="getColorCriticidad(props.item.criticidad)" dark>{{props.item.criticidad}}</v-chip></td>
                    <td>{{fecha(props.item.fechaReporte)}}</td>
                    <td>{{fecha(props.item.fechaLimite)}}</td>
                    <td><v-chip :color="getColorStatus(props.item.statusAccion)" dark>{{props.item.statusAccion}}</v-chip></td>
                    <td><v-chip :color="getColorStatus(props.item.statusVerificacion)" dark>{{props.item.statusVerificacion}}</v-chip></td>    
                </template>
                <!--template v-slot:item.criticidad="{item}">
                    <v-chip :color="getColorCriticidad(item.criticidad)" dark>{{item.criticidad}}</v-chip>
                </template>
                <template v-slot:item.statusAccion="{item}">
                    <v-chip :color="getColorStatus(item.statusAccion)" dark>{{item.statusAccion}}</v-chip>
                </template>
                <template v-slot:item.statusVerificacion="{item}">
                    <v-chip :color="getColorStatus(item.statusVerificacion)" dark>{{item.statusVerificacion}}</v-chip>
                </template>
                <template v-slot:item.fechaReporte="{item}">
                    {{fecha(item.fechaReporte)}}
                </template>
                <template v-slot:item.fechaLimite="{item}">
                    {{fecha(item.fechaLimite)}}
                </template>
                <template v-slot:top>
                    <v-toolbar flat color="white">
                        <v-toolbar-title>Acciones</v-toolbar-title>
                        <v-divider
                        class="mx-4"
                        inset
                        vertical
                        ></v-divider>
                        <v-spacer/>
                        <v-text-field
                        class="text-xs-center"
                        v-model="search"
                        append-icon="search"
                        label="Búsqueda"
                        single-line
                        hide-details
                        ></v-text-field>
                        <v-spacer/>
                        <el-button type="primary" @click="dialog = true">Nueva Acción</el-button>
                    </v-toolbar>
                </template>
                <template v-slot:item.opciones="{ item }">
                    <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                    >
                        edit
                    </v-icon>
                </template-->

                <template v-slot:no-data>
                    <v-btn color="primary" @click="listarAccion">Cargar Datos</v-btn>
                </template>
            </v-data-table>
<!------------------------------------Dialog insertar----------------------------------------------------------------------->
            <el-dialog width="90%" title="Acción" :visible.sync="dialog">
                <el-row>
                    <el-col :xs="24" :md="8" :span="6">
                        <p>Seleccione un Plan de Acción</p>
                        <el-select
                        v-model="idPlan" 
                        placeholder="Seleccione">
                            <el-option v-for="item in planAccion" 
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-col>
                </el-row>
                <el-form ref="form" v-if="idPlan > 0" :model="form" :rules="rules" label-position="top">
                    <el-row style="margin-left: 8px;" :gutter="20">
                        <el-col :xs="24" :md="18">
                            <el-row  :gutter="20">
                                <el-col :xs="24" :md="4">
                                    <el-form-item label="Criticidad" prop="criticidad">
                                        <el-select :change="fechaLimite" clearable v-model="form.criticidad" style="width: 100%;" placeholder="Seleccione" >
                                            <el-option v-for="item in criticidad"
                                                :key="item.value"
                                                :label="item.value"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :xs="24" :md="6">
                                    <el-form-item label="Fecha Ocurrencia (opcional)" prop="fechaOcurrencia">
                                        <el-date-picker 
                                            type="date" 
                                            placeholder="Seleccione" 
                                            v-model="form.fechaOcurrencia" 
                                            style="width: 100%;"
                                            format="dd/MM/yyyy"
                                            value-format="yyyy-MM-dd">
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :xs="24" :md="6">
                                    <el-form-item label="Tipo" prop="idTipo">
                                        <el-input v-if="this.editedIndex > 0" v-model="nombreTipo" disabled></el-input>
                                        <el-select v-else
                                            v-model="form.idTipo"
                                            filterable 
                                            clearable 
                                            placeholder="Búsqueda por Plan" 
                                            style="width: 100%" >
                                            <el-option
                                                v-for="item in tipo"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                
                                <el-col :xs="24" :md="8">
                                    <el-form-item label="Sector" prop="idSector">
                                        <el-input v-if="this.editedIndex > 0" v-model="nombreSector" disabled></el-input>
                                        <el-select v-else
                                            v-model="form.idSector"
                                            multiple
                                            style="width: 100%;"
                                            filterable
                                            remote
                                            no-match-text="Ningun  Sector"
                                            no-data-text="Ningun Sector"
                                            popper-class="000e"
                                            loading-text="Cargando"
                                            reserve-keyword
                                            placeholder="Sector"
                                            :remote-method="remoteMethodSector"
                                            :loading="loading">
                                            <el-option
                                                v-for="item in optionsSectors"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row  :gutter="20">
                                <el-col :xs="24" :md="18">
                                    <el-form-item label="Reporte" prop="reporte">
                                        <el-input v-model="form.reporte" autocomplete="off"></el-input>
                                    </el-form-item>
                                </el-col>
                                <el-col :xs="24" :md="6">
                                    <el-form-item label="Responsable de Atención" prop="idResponsable">
                                        <el-input v-if="this.editedIndex > 0" v-model="nombreResponsable" disabled></el-input>
                                        <el-select v-else
                                            v-model="form.idResponsable"
                                            style="width: 100%;"
                                            multiple
                                            filterable
                                            remote
                                            no-match-text="Ningun  Usuario"
                                            no-data-text="Ningun Usuario"
                                            popper-class="000e"
                                            loading-text="Cargando"
                                            reserve-keyword
                                            placeholder="Responsable"
                                            :remote-method="remoteMethodUsers"
                                            :loading="loading">
                                        
                                            <el-option 
                                                v-for="item in optionsUsers"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                
                            </el-row>
                            <el-row  :gutter="20">
                                <el-col :xs="24">
                                    <el-form-item label="Acción (opcional)" prop="detalleAccion">
                                        <el-input v-model="form.detalleAccion" autocomplete="off"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row  :gutter="20">
                                <el-col :xs="24" :md="6">
                                    <el-form-item label="Fecha de Reporte" prop="fechaReporte">
                                        <el-date-picker 
                                            type="date" 
                                            placeholder="Seleccione" 
                                            v-model="form.fechaReporte" 
                                            style="width: 100%;"
                                            format="dd/MM/yyyy"
                                            value-format="yyyy-MM-dd"
                                            disabled>
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :xs="24" :md="6">
                                    <el-form-item label="Fecha Límite" prop="fechaLimite">
                                        <el-date-picker 
                                            type="date" 
                                            placeholder="Seleccione" 
                                            v-model="form.fechaLimite" 
                                            style="width: 100%;"
                                            format="dd/MM/yyyy"
                                            value-format="yyyy-MM-dd"
                                            disabled>
                                        </el-date-picker>
                                    </el-form-item>
                                </el-col>
                                <el-col :xs="24" :md="6">
                                    <el-form-item label="Status Acción" prop="statusAccion">
                                        <el-select :change="estado" v-model="form.statusAccion" disabled style="width: 100%;" placeholder="Seleccione">
                                            <el-option v-for="item in status"
                                                :key="item.value"
                                                :label="item.value"
                                                :value="item.value"
                                            >
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :xs="24" :md="6">
                                    <el-form-item label="Status Verificación" prop="statusVerificacion">
                                        <el-select v-model="form.statusVerificacion" style="width: 100%;" placeholder="Seleccione">
                                            <el-option v-for="item in status"
                                                :key="item.value"
                                                :label="item.value"
                                                :value="item.value"
                                            >
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row  :gutter="20">
                                <el-col :xs="24">
                                    <el-form-item label="Observación (opcional)" prop="observacion">
                                        <el-input v-model="form.observacion" autocomplete="off"></el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-col :xs="24" :md="9">
                                <el-form-item label="Perdida (opcional)" prop="tipoPerdida">
                                    <el-select
                                        v-model="form.tipoPerdida"
                                        style="width: 100%;"
                                        multiple
                                        filterable
                                        remote
                                        no-match-text="Ningun tipo de Perdida"
                                        no-data-text="Ningun tipo de Perdida"
                                        popper-class="000e"
                                        loading-text="Cargando"
                                        reserve-keyword
                                        placeholder="Tipo Perdida"
                                        :remote-method="remoteMethodPerdida"
                                        :loading="loading">
                                        <el-option
                                            v-for="item in optionsPerdida"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-row  :gutter='20' v-if="form.tipoPerdida > 0">
                                <el-col :xs="24" :md="6">
                                    <el-form-item label="Turno" style="width: 100%;" prop="turno">
                                        <el-select v-model="form.turno" style="width: 100%;" placeholder="Seleccione" >
                                            <el-option v-for="item in turno"
                                                :key="item.value"
                                                :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                </el-col>
                                <el-col :xs="24" :md="6">
                                    <el-form-item label="Tiempo de Parada (minutos)" style="width: 100%;" prop="tiempoParada">
                                        <el-input-number v-model="form.tiempoParada" controls-position="right"  :min="1" ></el-input-number>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                        </el-col>
                        <el-col :xs="24" :md="6" >
                            <el-row  style="margin-left: 14px; margin-right: 10px; height: 80%;">
                                <el-form-item  label="Fotografía (opcional)" prop="fotografia">
                                    <v-image-input
                                        v-model="form.fotografia"
                                        :image-quality="0.85"
                                        clearable
                                        clearIcon="x"
                                        uploadIcon = "Subir Imagen ↑"
                                        hideActions
                                        image-format="jpeg"
                                    />
                                    
                                </el-form-item>
                            </el-row>
                        </el-col>
                    </el-row>
                </el-form>
                <span slot="footer" class="dialog-footer">

                    <el-button @click="close('form')">Cancelar</el-button>
                    <el-button type="primary" @click="guardar('form')">{{btnTitle}}</el-button>
                </span>
            </el-dialog>  
        </v-flex>
    </v-layout> 
</template>

<script>
import axios from 'axios'
export default {
    data() {
        //Validacion
        //Validacion
        var action =(rule, value, callback)=> {
            if (value === '') {
                callback(new Error('Por favor ingrese una accion.'));
            }
            callback();
        }
        var report = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Por favor ingrese un reporte'));
            }
            callback();
        }
        var dateL = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Seleccione una fecha limite'));
            }
            callback();
        }
        var crit = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Seleccione Criticidad'));
            }
            callback();
        }
        var resp = (rule, value, callback) => {
            if (value == '') {
                callback(new Error('Ingrese un resposable'));
            }
            callback();
        }
        var statusA = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Seleccione un estado de accion'));
            }
            callback();
        }
        var tipo = (rule, value, callback) => {
            if (value == '') {
                callback(new Error('Ingrese un Tipo'));
            }
            callback();
        }
        var sector = (rule, value, callback) => {
            if (value == '') {
                callback(new Error('Ingrese un Sector'));
            }
            callback();
        }
        return {
            acciones:[],
            dialog: false,
            headers:[
                {text: "No.", value: "numero", align: 'center'},
                {text: "Plan", value:"tema", sortable:false},
                {text: "Reporte", value: "reporte", width: 200, sortable: false},
                {text: "Acción", value: "detalleAccion", width: 400, sortable: false},
                {text: "Responsable", value: "username", align: 'center', sortable: false},
                {text: "Sector", value: "nombre", align: 'center', sortable: false},
                {text: "Tipo", value: "nombreTipo", align: 'center', sortable: false},
                {text: "Criticidad", value: "criticidad", align: 'center', sortable: false},
                {text: "Fecha de Reporte", value: "fechaReporte", align: 'center', sortable: false},
                {text: "Fecha Límite", value: "fechaLimite", align: 'center', sortable: false},
                {text: "Status Acción", value: "statusAccion", align: 'center', sortable: false},
                {text: "Status Verificación", value: "statusVerificacion", align: 'center', sortable: false},
                
                
                
            ],
            criticidad: [
                {value:'A'},
                {value:'B'},
                {value:'C'}
            ],
            turno: [
                {value:1, label: 'Turno 1'},
                {value:2, label: 'Turno 2'},
                {value:3, label: 'Turno 3'}
            ],
            status:[
                {value:'EJECUCION'},
                {value:'RETRASADO'},
                {value:'OK'},
                {value:'PENDIENTE'}
            ],
            form: {
                //variables del form
                idAccion:'',
                criticidad:'',
                fotografia:'',
                reporte:'',
                detalleAccion:'',
                fechaReporte: new Date().toISOString().substr(0, 10),
                fechaLimite: '',
                statusAccion:'',
                statusVerificacion:'',
                observacion:'',
                idResponsable:'',
                idTipo:'',
                idSector:'',
                tipoPerdida:'',
                fechaOcurrencia:'',
                turno:'',
                tiempoParada: 1,
            },
            rules:{
                //reglas de validacion
                //reglas de validacion
                detalleAccion:[
                    { validator: action, trigger: 'change' }
                ],
                reporte: [
                    { validator: report, trigger: 'change' }
                ],
                fechaLimite:[
                    {validator: dateL, trigger: 'change'}
                ],
                criticidad:[
                    {validator: crit, trigger: 'change'}
                ],
                idResponsable:[
                    {validator: resp, trigger: 'blur'}
                ],
                statusAccion:[
                    {validator: statusA, trigger: 'change'}
                ],
                idTipo:[
                    {validator: tipo, trigger: 'blur'}
                ],
                idSector:[
                    {validator: sector, trigger: 'blur'}
                ]

            },
            dialogImageUrl:'',
            imageUrl:'',
            dialogVisible:false,
            disabled:false,
            planAccion:[],
            responsable:[],
            sector:[],
            idPlan: '',
            tipo:[],
            perdida:[],
            optionsUsers:[],
            optionsSectors:[],
            optionsTipos:[],
            optionsPerdida:[],
            loading: false,
            valida:'',
            validaMensaje:[],
            search:'',
            editedIndex: -1
        }
    },
    created(){
        this.selectPlans();
        this.selectUsers();
        this.selectSectors();
        this.selectTipo();
        this.listarAccion();
        this.selectPerdida();
    },
    computed: {
        fechaLimite(){
            var fecha = new Date();
            if (this.editedIndex < 0) {
                switch (this.form.criticidad) {
                    case 'A':
                        
                            fecha.setDate(fecha.getDate()+2);
                            this.form.fechaLimite= fecha.toISOString().substr(0, 10);
                            this.form.statusAccion = 'EJECUCION';
                    
                        
                    break;
                    case 'B':
                        fecha.setDate(fecha.getDate()+5);
                        this.form.fechaLimite= fecha.toISOString().substr(0, 10);
                        this.form.statusAccion = 'EJECUCION';
                    break;
                    case 'C':
                        fecha.setDate(fecha.getDate()+14);
                        this.form.fechaLimite= fecha.toISOString().substr(0, 10);
                        this.form.statusAccion = 'EJECUCION';
                    break;
                
                    default:
                    break;
                }
            }
        },
        estado(){
            if (this.form.statusAccion == '') {
                this.form.statusVerificacion = '';
            }
            else{
                if (this.form.statusAccion == 'OK') {
                    this.form.statusVerificacion = 'EJECUCION';
                }
                else{
                    this.form.statusVerificacion = 'PENDIENTE';
                }  
            }
        },
        formTitle(){
            return this.editedIndex === -1 ? 'Nueva Tarea' : 'Actualizar Tarea'
        },
        btnTitle(){
            return this.editedIndex === -1 ? 'Registrar' : 'Actualizar'
        }
    },
    methods: {
        getColorStatus(item){
            switch (item) {
                case "OK":
                        return 'green'
                    break;
                case "EJECUCION":
                        return 'yellow'
                    break;
                case "RETRASADO":
                        return 'red'
                    break;
                case "PENDIENTE":
                    return '#A4A4A4'
                    break;
            
                default:
                    break;
            }
        },
        getColorCriticidad(item){
            switch (item) {
                case 'A':
                        return 'red'
                    break;
                case 'B':
                        return 'yellow'
                    break;
                case 'C':
                        return 'green'
                    break;
            
                default:
                    break;
            }
        },
        upload(file){
            this.imageUrl = file.url;
            console.log(this.imageUrl);
        },
        handleRemove(file) {
            console.log(file);
        },
        handlePictureCardPreview(file) {
            this.dialogImageUrl = file.url;
            this.dialogVisible = true;
        },
        remoteMethodPerdida(query){
            //busqueda remota de tipos de perdida
            if (query !== '') {
                this.loading =true;
                setTimeout(() => {
                    this.loading = false;
                    this.optionsPerdida = this.perdida.filter(item => {
                    return item.label.toLowerCase()
                        .indexOf(query.toLowerCase()) > -1;
                    });
                },200);
            } else {
                this.options = [];
            }
        },
        remoteMethodUsers(query) {
            //busqueda remota de usuarios
            if (query !== '') {
            this.loading = true;
            setTimeout(() => {
                this.loading = false;
                this.optionsUsers = this.responsable.filter(item => {
                return item.label.toLowerCase()
                    .indexOf(query.toLowerCase()) > -1;
                });
            }, 200);
            } else {
            this.options = [];
            }
        },
        remoteMethodSector(query) {
            //busqueda remota de usuarios
            if (query !== '') {
            this.loading = true;
            setTimeout(() => {
                this.loading = false;
                this.optionsSectors = this.sector.filter(item => {
                return item.label.toLowerCase()
                    .indexOf(query.toLowerCase()) > -1;
                });
            }, 200);
            } else {
            this.options = [];
            }
        },
        remoteMethodTipo(query) {
            //busqueda remota de usuarios
            if (query !== '') {
            this.loading = true;
            setTimeout(() => {
                this.loading = false;
                this.optionsTipos = this.tipo.filter(item => {
                return item.label.toLowerCase()
                    .indexOf(query.toLowerCase()) > -1;
                });
            }, 200);
            } else {
            this.options = [];
            }
        },
        selectPlans(){
            //lista del plan de accion
            let me=this;
            var planArray = [];
            var id = me.$store.state.usuario.idusuario;
            axios.get("api/Plans/UserPlan/"+id).then(function(response) {
                me.planArray = response.data;
                me.planArray.map(function(x){
                    me.planAccion.push({value: x.idPlanAccion, label: x.tema})
                });
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        selectUsers(){
            //lista de todos los usuarios
            let me=this;
            var responsableArray=[];
            axios.get('api/UsuariosNet/Listarbusqueda').then(function(response){
                me.responsableArray=response.data;
                me.responsableArray.map(function(x){
                    me.responsable.push({value: x.idusuario, label: x.username});
                });
            }).catch(function(error){
                console.log(error);
            });
        },
        selectSectors(){
            //lista de todas las areas
            let me=this;
            var sectorArray=[];
            axios.get('api/Areas/Listar').then(function(response){
                me.sectorArray=response.data;
                me.sectorArray.map(function(x){
                    me.sector.push({value: x.id, label: x.nombre});
                });
            }).catch(function(error){
                console.log(error);
            });
        },
        selectTipo(){
            //lista de todos los tipos
            let me=this;
            var tipoArray=[];
            axios.get('api/Tipos/ListarTipo').then(function(response){
                me.tipoArray=response.data;
                me.tipoArray.map(function(x){
                    me.tipo.push({value: x.idTipo, label: x.nombreTipo});
                });
            }).catch(function(error){
                console.log(error);
            });
        },
        selectPerdida(){
            //lista los tipos de perdida
            let me=this;
            var perdidaArray=[];
            axios.get('api/TipoPerdidas/ListarTipoPerdida').then(function(response){
                me.perdidaArray=response.data;
                me.perdidaArray.map(function(x){
                    me.perdida.push({value: x.idTipoPerdida, label: x.nombrePerdida});
                });
            }).catch(function(error){
                console.log(error);
            });
        },
        listarAccion() {
            let me = this;
            var id = this.$store.state.usuario.idusuario;
            axios.get("api/Accions/ListarAcciones/"+id).then(function(response) {
                me.acciones = response.data;
                console.log(me.acciones);
                for (let index = 0; index < me.acciones.length; index++) {
                    me.acciones[index].numero = index+1;
                }
            }).catch(function(error) {
                console.log(error.response);
            });
        },
        editItem(item) {
            this.form.tema = item.tema;
            this.form.fechaLanzamiento = item.fechaLanzamiento;
            this.editedIndex = 1;
            this.dialog = true;
        },
        guardar(form) {
            this.$refs[form].validate((valid) => {
                if (valid) {
                    if (this.editedIndex > -1) {
                        //Código para editar
                        //Código para guardar
                        let me = this;
                        axios
                        .put("api/Proyectos/Actualizar", {
                            
                            nombre: me.nombre,
                            descripcion: me.descripcion
                        })
                        .then(function(response) {
                            me.close();
                            me.listarAccion();
                            me.limpiar();
                        })
                        .catch(function(error) {
                            console.log(error);
                        });
                    } else {
                        //Código para guardar
                        if (this.form.tipoPerdida != '' && this.form.fotografia != '') {
                            let me = this;
                            axios.post("api/Accions/InsertarPerdidaFoto",[{
                                criticidad : me.form.criticidad,
                                reporte : me.form.reporte,
                                detalleAccion : me.form.detalleAccion,
                                fechaOcurrencia : me.form.fechaOcurrencia,
                                fechaReporte : me.form.fechaReporte,
                                fechaLimite : me.form.fechaLimite,
                                statusAccion : me.form.statusAccion,
                                statusVerificacion : me.form.statusVerificacion,
                                observacion : me.form.observacion,
                                idPlanAccion : me.form.idPlan,
                                id : me.form.idResponsable[0],
                                idTipo : me.form.idTipo,
                                idarea : me.form.idSector[0],
                            },{
                                idTipoPerdida : me.form.tipoPerdida[0],
                                turno : me.form.turno,
                                tiempoParada : me.form.tiempoParada
                            },{
                                fotoAntes : me.form.fotografia
                            } 
                            ]).then(function(response) {
                                me.listarAccion();
                                me.limpiar();
                                me.close(form);
                            }).then(data => {
                                this.$message({
                                    showClose: true,
                                    message: 'Registro de nueva Acción Exitosa',
                                    type: 'success'
                                });
                            })
                            .catch(function(error) {
                                console.log(error);
                            }).then(data => {
                                this.$message({
                                    showClose: true,
                                    message: 'Ocurrió un problema, intente nuevamente.',
                                    type: 'error'
                                });
                            });
                        }
                        else{
                            if (this.form.tipoPerdida != '' && this.form.fotografia == '') {
                                let me = this;
                                axios.post("api/Accions/InsertarPerdida",[{
                                    criticidad : me.form.criticidad,
                                    reporte : me.form.reporte,
                                    detalleAccion : me.form.detalleAccion,
                                    fechaOcurrencia : me.form.fechaOcurrencia,
                                    fechaReporte : me.form.fechaReporte,
                                    fechaLimite : me.form.fechaLimite,
                                    statusAccion : me.form.statusAccion,
                                    statusVerificacion : me.form.statusVerificacion,
                                    observacion : me.form.observacion,
                                    idPlanAccion : me.form.idPlan,
                                    id : me.form.idResponsable[0],
                                    idTipo : me.form.idTipo,
                                    idarea : me.form.idSector[0],
                                },{
                                    idTipoPerdida : me.form.tipoPerdida[0],
                                    turno : me.form.turno,
                                    tiempoParada : me.form.tiempoParada
                                }
                                ]).then(function(response) {
                                    me.listarAccion();
                                    me.limpiar();
                                    me.close(form);
                                }).then(data => {
                                    this.$message({
                                        showClose: true,
                                        message: 'Registro de nueva Acción Exitosa',
                                        type: 'success'
                                    });
                                })
                                .catch(function(error) {
                                    console.log(error);
                                }).then(data => {
                                    this.$message({
                                        showClose: true,
                                        message: 'Ocurrió un problema, intente nuevamente.',
                                        type: 'error'
                                    });
                                });
                            }
                            else{
                                if (this.form.tipoPerdida == '' && this.form.fotografia != '') {
                                    let me = this;
                                    axios.post("api/Accions/InsertarFoto",[{
                                        criticidad : me.form.criticidad,
                                        reporte : me.form.reporte,
                                        detalleAccion : me.form.detalleAccion,
                                        fechaOcurrencia : me.form.fechaOcurrencia,
                                        fechaReporte : me.form.fechaReporte,
                                        fechaLimite : me.form.fechaLimite,
                                        statusAccion : me.form.statusAccion,
                                        statusVerificacion : me.form.statusVerificacion,
                                        observacion : me.form.observacion,
                                        idPlanAccion : me.form.idPlan,
                                        id : me.form.idResponsable[0],
                                        idTipo : me.form.idTipo,
                                        idarea : me.form.idSector[0],
                                    },{
                                        fotoAntes : me.form.fotografia
                                    }
                                    ]).then(function(response) {
                                        me.listarAccion();
                                        me.limpiar();
                                        me.close(form);
                                    }).then(data => {
                                        this.$message({
                                            showClose: true,
                                            message: 'Registro de nueva Acción Exitosa',
                                            type: 'success'
                                        });
                                    })
                                    .catch(function(error) {
                                        console.log(error);
                                    }).then(data => {
                                        this.$message({
                                            showClose: true,
                                            message: 'Ocurrió un problema, intente nuevamente.',
                                            type: 'error'
                                        });
                                    });
                                }
                                else{
                                    let me = this;
                                    axios
                                    .post("api/Accions/Insertar", {
                                        criticidad : me.form.criticidad,
                                        reporte : me.form.reporte,
                                        detalleAccion : me.form.detalleAccion,
                                        fechaOcurrencia : me.form.fechaOcurrencia,
                                        fechaReporte : me.form.fechaReporte,
                                        fechaLimite : me.form.fechaLimite,
                                        statusAccion : me.form.statusAccion,
                                        statusVerificacion : me.form.statusVerificacion,
                                        observacion : me.form.observacion,
                                        idPlanAccion : me.form.idPlan,
                                        id : me.form.idResponsable[0],
                                        idTipo : me.form.idTipo,
                                        idarea : me.form.idSector[0],
                                    })
                                    .then(function(response) {
                                        me.listarAccion();
                                        me.limpiar();
                                        me.close(form);
                                    }).then(data => {
                                        this.$message({
                                            showClose: true,
                                            message: 'Registro de nueva Acción Exitosa',
                                            type: 'success'
                                        });
                                    })
                                    .catch(function(error) {
                                        console.log(error);
                                    }).then(data => {
                                        this.$message({
                                            showClose: true,
                                            message: 'Ocurrió un problema, intente nuevamente.',
                                            type: 'error'
                                        });
                                    });
                                }
                            }
                        }  
                    }
                }else{
                    return false;
                }
            });
        },
        validar() {
            this.valida = 0;
            this.validaMensaje = [];

            if (this.form.tema.length < 3 || this.form.tema.length > 50) {
                this.validaMensaje.push(
                "El tema debe tener más de 3 caracteres y menos de 50 caracteres."
                );
            }
            if (this.validaMensaje.length) {
                this.valida = 1;
            }
            return this.valida;
        },
        limpiar(){
            this.idPlan = '';
            this.form.criticidad = '';
            this.form.fotografia = '';
            this.form.reporte = '';
            this.form.detalleAccion = '';
            this.form.fechaOcurrencia = '';
            this.form.fechaLimite = '';
            this.form.statusAccion = '';
            this.form.statusVerificacion = '';
            this.form.observacion = '';
            this.form.idResponsable = '';
            this.form.idTipo = '';
            this.form.idSector = '';
            this.form.tipoPerdida ='';
            this.form.fechaOcurrencia = '';
            this.form.turno = '';
            this.form.tiempoParada = '';
        },
        close(formName) {
            this.$refs[formName].resetFields();
            this.dialog = false;
            this.limpiar();
            this.validaMensaje=[];
        },
        formatDate (date) {
            if (!date) return null

            const [year, month, day] = date.split('-');
            return `${day}/${month}/${year}`;
        },
        fecha(item){
            var date = new Date(item).toISOString().substr(0, 10);
            return this.formatDate(date);
        }
    },
    
}
</script>