<template>
    <v-layout align-start>
       <v-flex>
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/home' }">Inicio</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/plan'}">Plan de Acción</el-breadcrumb-item>
            <el-breadcrumb-item>Lista de Acciones</el-breadcrumb-item>
        </el-breadcrumb>
        <el-divider/>     
        <v-card  style="width:100%;" class="mx-auto elevation-1">
            <v-system-bar class="blue darken-3"> <span class="white--text ">PLAN DE ACCIÓN DE {{title}}</span></v-system-bar>
            
            <div style="padding: 14px;">
                <el-row >
                    <p style=" margin-top: 0px; margin-bottom: 0px;"><font size="2" face="arial"><b>Tema:</b> {{title}}</font></p>
                </el-row >
                <el-row >
                    <p style=" margin-top:1px; margin-bottom: 0px;"><font size="2" face="arial"><b>Fecha Lanzamiento:</b> {{fecha}}</font></p>
                </el-row>
                <el-row>
                    <p style=" margin-top:1px; margin-bottom: 0px;"><font size="2" face="arial"><b>Responsable de Plan:</b> {{nombre}}</font></p>
                </el-row>
            </div>
        </v-card>  
        
        <el-dialog width="90%" title="Acción" :visible.sync="dialog">
            <el-form ref="form" :model="form" :rules="rules" label-position="top">
                <el-row style="margin-left: 8px;" :gutter="20">
                    <el-col :xs="24" :md="18">
                        <el-row  :gutter="20">
                            <el-col :xs="24" :md="4">
                                <el-form-item label="Criticidad" prop="criticidad">
                                    <el-select :change="fechaLimite" clearable v-model="form.criticidad" style="width: 100%;" placeholder="Seleccione" >
                                        <el-option v-for="item in criticidad"
                                            :key="item.value"
                                            :label="item.value"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :md="6">
                                <el-form-item label="Fecha Ocurrencia (opcional)" prop="fechaOcurrencia">
                                    <el-date-picker 
                                        type="date" 
                                        placeholder="Seleccione" 
                                        v-model="form.fechaOcurrencia" 
                                        style="width: 100%;"
                                        format="dd/MM/yyyy"
                                        value-format="yyyy-MM-dd">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :md="6">
                                <el-form-item label="Tipo" prop="idTipo">
                                    <el-input v-if="this.editedIndex > 0" v-model="nombreTipo" disabled></el-input>
                                    <el-select v-else
                                        v-model="form.idTipo"
                                        filterable 
                                        clearable 
                                        placeholder="Búsqueda por Plan" 
                                        style="width: 100%" >
                                        <el-option
                                            v-for="item in tipo"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            
                            <el-col :xs="24" :md="8">
                                <el-form-item label="Sector" prop="idSector">
                                    <el-input v-if="this.editedIndex > 0" v-model="nombreSector" disabled></el-input>
                                    <el-select v-else
                                        v-model="form.idSector"
                                        multiple
                                        style="width: 100%;"
                                        filterable
                                        remote
                                        no-match-text="Ningun  Sector"
                                        no-data-text="Ningun Sector"
                                        popper-class="000e"
                                        loading-text="Cargando"
                                        reserve-keyword
                                        placeholder="Sector"
                                        :remote-method="remoteMethodSector"
                                        :loading="loading">
                                        <el-option
                                            v-for="item in optionsSectors"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row  :gutter="20">
                            <el-col :xs="24" :md="18">
                                <el-form-item label="Reporte" prop="reporte">
                                    <el-input v-model="form.reporte" autocomplete="off"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :md="6">
                                <el-form-item label="Responsable de Atención" prop="idResponsable">
                                    <el-input v-if="this.editedIndex > 0" v-model="nombreResponsable" disabled></el-input>
                                    <el-select v-else
                                        v-model="form.idResponsable"
                                        style="width: 100%;"
                                        multiple
                                        filterable
                                        remote
                                        no-match-text="Ningun  Usuario"
                                        no-data-text="Ningun Usuario"
                                        popper-class="000e"
                                        loading-text="Cargando"
                                        reserve-keyword
                                        placeholder="Responsable"
                                        :remote-method="remoteMethodUsers"
                                        :loading="loading">
                                    
                                        <el-option 
                                            v-for="item in optionsUsers"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            
                        </el-row>
                        <el-row  :gutter="20">
                            <el-col :xs="24">
                                <el-form-item label="Acción (opcional)" prop="detalleAccion">
                                    <el-input v-model="form.detalleAccion" autocomplete="off"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row  :gutter="20">
                            <el-col :xs="24" :md="6">
                                <el-form-item label="Fecha de Reporte" prop="fechaReporte">
                                    <el-date-picker 
                                        type="date" 
                                        placeholder="Seleccione" 
                                        v-model="form.fechaReporte" 
                                        style="width: 100%;"
                                        format="dd/MM/yyyy"
                                        value-format="yyyy-MM-dd"
                                        disabled>
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :md="6">
                                <el-form-item label="Fecha Límite" prop="fechaLimite">
                                    <el-date-picker v-if="this.editedIndex > 0"
                                        type="date" 
                                        placeholder="Seleccione" 
                                        v-model="form.fechaLimite" 
                                        style="width: 100%;"
                                        format="dd/MM/yyyy"
                                        value-format="yyyy-MM-dd"
                                        >
                                    </el-date-picker>
                                    <el-date-picker v-else
                                        type="date" 
                                        placeholder="Seleccione" 
                                        v-model="form.fechaLimite" 
                                        style="width: 100%;"
                                        format="dd/MM/yyyy"
                                        value-format="yyyy-MM-dd"
                                        disabled>
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :md="6">
                                <el-form-item label="Status Acción" prop="statusAccion">
                                    <el-select :change="estado" v-model="form.statusAccion" disabled style="width: 100%;" placeholder="Seleccione">
                                        <el-option v-for="item in status"
                                            :key="item.value"
                                            :label="item.value"
                                            :value="item.value"
                                        >
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :md="6">
                                <el-form-item label="Status Verificación" prop="statusVerificacion">
                                    <el-select v-model="form.statusVerificacion" style="width: 100%;" placeholder="Seleccione">
                                        <el-option v-for="item in status"
                                            :key="item.value"
                                            :label="item.value"
                                            :value="item.value"
                                        >
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row  :gutter="20">
                            <el-col :xs="24">
                                <el-form-item label="Observación (opcional)" prop="observacion">
                                    <el-input v-model="form.observacion" autocomplete="off"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-col :xs="24" :md="9">
                            <el-form-item label="Perdida (opcional)" prop="tipoPerdida">
                                <el-select
                                    v-model="form.tipoPerdida"
                                    style="width: 100%;"
                                    multiple
                                    filterable
                                    remote
                                    no-match-text="Ningun tipo de Perdida"
                                    no-data-text="Ningun tipo de Perdida"
                                    popper-class="000e"
                                    loading-text="Cargando"
                                    reserve-keyword
                                    placeholder="Tipo Perdida"
                                    :remote-method="remoteMethodPerdida"
                                    :loading="loading">
                                    <el-option
                                        v-for="item in optionsPerdida"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-row  :gutter='20' v-if="form.tipoPerdida > 0">
                            <el-col :xs="24" :md="6">
                                <el-form-item label="Turno" style="width: 100%;" prop="turno">
                                    <el-select v-model="form.turno" style="width: 100%;" placeholder="Seleccione" >
                                        <el-option v-for="item in turno"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :xs="24" :md="6">
                                <el-form-item label="Tiempo de Parada (minutos)" style="width: 100%;" prop="tiempoParada">
                                    <el-input-number v-model="form.tiempoParada" controls-position="right"  :min="1" ></el-input-number>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col :xs="24" :md="6" >
                        <el-row  style="margin-left: 14px; margin-right: 10px; height: 80%;">
                            <el-form-item  label="Fotografía (opcional)" prop="fotografia">
                                <v-image-input
                                    v-model="form.fotografia"
                                    ref="image"
                                    clearable
                                    clearIcon="x"
                                    uploadIcon = "Subir Imagen ↑"
                                    :image-quality="0.85"
                                    hideActions
                                    image-format="jpeg"
                                />
                                
                            </el-form-item>
                        </el-row>
                    </el-col>
                </el-row>
            </el-form>
            <div class="red--text" v-for="v in validaMensaje" :key="v" v-text="v"></div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="close('form')">Cancelar</el-button>
                <el-button type="primary" @click="guardar('form')">{{btnTitle}}</el-button>
            </span>
        </el-dialog>
        <el-divider/>
        <v-toolbar flat color="white">
            <v-toolbar-title>Acciones</v-toolbar-title>
            <v-divider
            class="mx-4"
            inset
            vertical
            ></v-divider>
            <v-spacer/>
            <v-text-field
            class="text-xs-center"
            v-model="search"
            append-icon="search"
            label="Búsqueda"
            single-line
            hide-details
            ></v-text-field>
            <v-spacer/>
            <el-button type="primary" size="small" @click="dialog = true">Nueva Acción</el-button>
        </v-toolbar>
       
        <v-data-table 
            :headers="headers" 
            :items="acciones" 
            :search="search" 
            class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td>
                    <el-tooltip class="item" effect="dark" content="Editar Accion" placement="left">
                        <v-icon
                            small
                            class="mr-2"
                            @click="editItem(props.item)"
                        >
                            edit
                        </v-icon>
                    </el-tooltip>
                </td>
                <td>{{props.item.numero}}</td>
                <td>
                    <v-chip :color="getColorCriticidad(props.item.criticidad)"  dark>{{props.item.criticidad}}</v-chip>
                </td>
                <td>{{props.item.reporte}}</td>
                <td>{{props.item.detalleAccion}}</td>
                <td>{{fechaTable(props.item.fechaReporte)}}</td>
                <td>{{fechaTable(props.item.fechaLimite)}}</td>
                <td>
                    <v-chip :color="getColorStatus(props.item.statusAccion)"  dark>{{props.item.statusAccion}}</v-chip>
                </td>
                <td>
                    <v-chip :color="getColorStatus(props.item.statusVerificacion)" dark>{{props.item.statusVerificacion}}</v-chip>
                </td>
                <td>{{props.item.username}}</td>
                <td>{{props.item.nombreTipo}}</td>
                <td>{{props.item.nombre}}</td>
            </template>
            <!--template v-slot:item.criticidad="{item}">
                <v-chip :color="getColorCriticidad(item.criticidad)"  dark>{{item.criticidad}}</v-chip>
            </template>
            <template v-slot:item.statusAccion="{item}">
                <v-chip :color="getColorStatus(item.statusAccion)"  dark>{{item.statusAccion}}</v-chip>
            </template>
            <template v-slot:item.statusVerificacion="{item}">
                <v-chip :color="getColorStatus(item.statusVerificacion)" dark>{{item.statusVerificacion}}</v-chip>
            </template>
            <template v-slot:item.fechaReporte="{item}">
                {{fechaTable(item.fechaReporte)}}
            </template>
            <template v-slot:item.fechaLimite="{item}">
                {{fechaTable(item.fechaLimite)}}
            </template>
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Acciones</v-toolbar-title>
                    <v-divider
                    class="mx-4"
                    inset
                    vertical
                    ></v-divider>
                    <v-spacer/>
                    <v-text-field
                    class="text-xs-center"
                    v-model="search"
                    append-icon="search"
                    label="Búsqueda"
                    single-line
                    hide-details
                    ></v-text-field>
                    <v-spacer/>
                    <el-button type="primary" @click="dialog = true">Nueva Acción</el-button>
                </v-toolbar>
            </template>
            <template v-slot:item.opcion="{ item }">
                <el-tooltip class="item" effect="dark" content="Editar Accion" placement="left">
                    <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                    >
                        edit
                    </v-icon>
                </el-tooltip>
            </template-->
            <template v-slot:no-data>
                <v-btn color="primary" @click="listarAccion">Cargar Datos</v-btn>
            </template>
        </v-data-table>
        
        </v-flex>
    </v-layout>
</template>

<script>
import axios from 'axios';
export default {
    data(){
        //Validacion
        var report = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Por favor ingrese un reporte'));
            }
            callback();
        }
        var dateL = (rule, value, callback) => {
            if (value == '') {
                callback(new Error('Seleccione una fecha limite'));
            }
            callback();
        }
        var crit = (rule, value, callback) => {
            if (value == '') {
                callback(new Error('Seleccione Criticidad'));
            }
            callback();
        }
        var resp = (rule, value, callback) => {
            if (value == '') {
                callback(new Error('Ingrese un resposable'));
            }
            callback();
        }
        var statusA = (rule, value, callback) => {
            if (value == '') {
                callback(new Error('Seleccione un estado de accion'));
            }
            callback();
        }
        var tipo = (rule, value, callback) => {
            if (value == '') {
                callback(new Error('Ingrese un Tipo'));
            }
            callback();
        }
        var sector = (rule, value, callback) => {
            if (value == '') {
                callback(new Error('Ingrese un Sector'));
            }
            callback();
        }
        return{
            acciones:[],
            dialog: false,
            headers:[
                {text: "Opciones", value: "opcion", align: 'center', sortable: false},
                {text: "No.", value: "numero", align: 'center'},
                {text: "Criticidad", value: "criticidad", align: 'center', sortable: false},
                {text: "Reporte", value: "reporte", width: 200, sortable: false},
                {text: "Acción", value: "detalleAccion",width: 400, sortable: false},
                {text: "Fecha de Reporte", value: "fechaReporte", align: 'center', sortable: false},
                {text: "Fecha Límite", value: "fechaLimite", align: 'center', sortable: false},
                {text: "Status Acción", value: "statusAccion", align: 'center', sortable: false},
                {text: "Status Verificación", value: "statusVerificacion", align: 'center', sortable: false},
                //{text: "Observacion", value:"observacion"},
                {text: "Responsable", value: "username", align: 'center', sortable: false},
                {text: "Tipo", value: "nombreTipo", align: 'center', sortable: false},
                {text: "Sector", value: "nombre", align: 'center',width: 200 , sortable: false},
                
            ],
            criticidad: [
                {value:'A'},
                {value:'B'},
                {value:'C'}
            ],
            turno: [
                {value:1, label: 'Turno 1'},
                {value:2, label: 'Turno 2'},
                {value:3, label: 'Turno 3'}
            ],
            status:[
                {value:'EJECUCION'},
                {value:'RETRASADO'},
                {value:'OK'},
                {value:'PENDIENTE'}
            ],
            form:{
                idAccion:'',
                criticidad:'',
                fotografia: null,
                reporte:'',
                detalleAccion:'',
                fechaReporte: new Date().toISOString().substr(0, 10),
                fechaLimite: '',
                statusAccion:'',
                statusVerificacion:'',
                observacion:'',
                idResponsable:[],
                idTipo:'',
                idSector:[],
                idPlan:'',
                tipoPerdida:'',
                fechaOcurrencia:'',
                turno:'',
                tiempoParada:1,

            },
            nombreResponsable: '',
            nombreTipo: '',
            nombreSector: '',
            rules:{
                //reglas de validacion
                reporte: [
                    { validator: report, trigger: 'blur' }
                ],
                fechaLimite:[
                    {validator: dateL, trigger: 'blur'}
                ],
                criticidad:[
                    {validator: crit, trigger: 'blur'}
                ],
                idResponsable:[
                    {validator: resp, trigger: 'blur'}
                ],
                statusAccion:[
                    {validator: statusA, trigger: 'blur'}
                ],
                idTipo:[
                    {validator: tipo, trigger: 'blur'}
                ],
                idSector:[
                    {validator: sector, trigger: 'blur'}
                ]

            },
            dialogImageUrl:'',
            imageUrl:'',
            dialogVisible:false,
            disabled:false,
            planAccion:[],
            responsable:[],
            sector:[],
            tipo:[],
            perdida:[],
            optionsUsers:[],
            optionsSectors:[],
            optionsTipos:[],
            optionsPerdida:[],
            fotografiaAccion:[],
            perdidaAccion:[],
            loading: false,
            valida:'',
            validaMensaje:[],
            search:'',
            editedIndex: -1

        }
    },
    created(){
        this.selectPlans();
        this.selectUsers();
        this.selectSectors();
        this.selectTipo();
        this.listarAccion();
        this.selectPerdida();
    },
    computed:{
        title(){
            return this.planAccion['tema'];
        },
        fecha(){
            var date = new Date(this.planAccion['fechaLanzamiento']).toISOString().substr(0, 10);
            return this.formatDate(date);
        },
        fechaLimite(){
            var fecha = new Date();
            if (this.editedIndex < 0) {
                switch (this.form.criticidad) {
                    case 'A':
                        
                            fecha.setDate(fecha.getDate()+2);
                            this.form.fechaLimite= fecha.toISOString().substr(0, 10);
                            this.form.statusAccion = 'EJECUCION';
                    
                        
                    break;
                    case 'B':
                        fecha.setDate(fecha.getDate()+5);
                        this.form.fechaLimite= fecha.toISOString().substr(0, 10);
                        this.form.statusAccion = 'EJECUCION';
                    break;
                    case 'C':
                        fecha.setDate(fecha.getDate()+14);
                        this.form.fechaLimite= fecha.toISOString().substr(0, 10);
                        this.form.statusAccion = 'EJECUCION';
                    break;
                
                    default:
                    break;
                }
            }
        },
        estado(){
            if (this.form.statusAccion == '') {
                this.form.statusVerificacion = '';
            }
            else{
                if (this.form.statusAccion == 'OK') {
                    this.form.statusVerificacion = 'EJECUCION';
                }
                else{
                    this.form.statusVerificacion = 'PENDIENTE';
                }  
            }
        },
        nombre(){
            return this.planAccion['nombreResponsable'];
        },
        btnTitle(){
            return this.editedIndex === -1 ? "Registrar" : "Actualizar";
        }
    },
    methods:{
        getColorStatus(item){
            switch (item) {
                case "OK":
                        return 'green'
                    break;
                case "EJECUCION":
                        return 'yellow'
                    break;
                case "RETRASADO":
                        return 'red'
                    break;
                case "PENDIENTE":
                    return '#A4A4A4'
                    break;
                default:
                    break;
            }
        },
        getColorCriticidad(item){
            switch (item) {
                case 'A':
                        return 'red'
                    break;
                case 'B':
                        return 'yellow'
                    break;
                case 'C':
                        return 'green'
                    break;
            
                default:
                    break;
            }
        },
        clear(){
            this.form.fotografia = '';
            this.$route.imageData = null;
        },
        upload(file){
            this.imageUrl = file.url;
            console.log(this.imageUrl);
        },
        handleRemove(file) {
            console.log(file);
        },
        handlePictureCardPreview(file) {
            this.dialogImageUrl = file.url;
            this.dialogVisible = true;
        },
        remoteMethodPerdida(query){
            //busqueda remota de tipos de perdida
            if (query !== '') {
                this.loading =true;
                setTimeout(() => {
                    this.loading = false;
                    this.optionsPerdida = this.perdida.filter(item => {
                    return item.label.toLowerCase()
                        .indexOf(query.toLowerCase()) > -1;
                    });
                },200);
            } else {
                this.options = [];
            }
        },
        remoteMethodUsers(query) {
            //busqueda remota de usuarios
            if (query !== '') {
            this.loading = true;
            setTimeout(() => {
                this.loading = false;
                this.optionsUsers = this.responsable.filter(item => {
                return item.label.toLowerCase()
                    .indexOf(query.toLowerCase()) > -1;
                });
            }, 200);
            } else {
            this.options = [];
            }
        },
        remoteMethodSector(query) {
            //busqueda remota de usuarios
            if (query !== '') {
            this.loading = true;
            setTimeout(() => {
                this.loading = false;
                this.optionsSectors = this.sector.filter(item => {
                return item.label.toLowerCase()
                    .indexOf(query.toLowerCase()) > -1;
                });
            }, 200);
            } else {
            this.options = [];
            }
        },
        selectPlans(){
            //lista del plan de accion
            let me=this;
            var id=Number(this.$route.params.id);
            this.form.idPlan = id;
            axios.get("api/Plans/MostrarPlan/"+id).then(function(response) {
                //console.log(response);
                me.planAccion = response.data;
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        selectUsers(){
            //lista de todos los usuarios
            let me=this;
            var responsableArray=[];
            axios.get('api/UsuariosNet/Listarbusqueda').then(function(response){
                me.responsableArray=response.data;
                me.responsableArray.map(function(x){
                    me.responsable.push({value: x.idusuario, label: x.username});
                });
            }).catch(function(error){
                console.log(error);
            });
        },
        selectSectors(){
            //lista de todas las areas
            let me=this;
            var sectorArray=[];
            axios.get('api/Areas/Listar').then(function(response){
                me.sectorArray=response.data;
                me.sectorArray.map(function(x){
                    me.sector.push({value: x.id, label: x.nombre});
                });
            }).catch(function(error){
                console.log(error);
            });
        },
        selectTipo(){
            //lista de todos los tipos
            let me=this;
            var tipoArray=[];
            axios.get('api/Tipos/ListarTipo').then(function(response){
                me.tipoArray=response.data;
                me.tipoArray.map(function(x){
                    me.tipo.push({value: x.idTipo, label: x.nombreTipo});
                });
            }).catch(function(error){
                console.log(error);
            });
        },
        selectPerdida(){
            //lista los tipos de perdida
            let me=this;
            var perdidaArray=[];
            axios.get('api/TipoPerdidas/ListarTipoPerdida').then(function(response){
                me.perdidaArray=response.data;
                me.perdidaArray.map(function(x){
                    me.perdida.push({value: x.idTipoPerdida, label: x.nombrePerdida});
                });
            }).catch(function(error){
                console.log(error);
            });
        },
        listarAccion() {
            let me = this;
            var id=Number(this.$route.params.id);
            axios.get("api/Accions/AccionPlan/"+id).then(function(response) {
                me.acciones = response.data;
                for (let index = 0; index < me.acciones.length; index++) {
                    me.acciones[index].numero = index+1;
                }
            }).catch(function(error) {
                console.log(error.response);
            });
        },
        editItem(item) {
            this.form.idAccion = item.idAccion
            this.form.criticidad = item.criticidad;
            this.form.reporte = item.reporte;
            this.form.detalleAccion = item.detalleAccion;
            this.form.fechaOcurrencia = new Date(item.fechaOcurrencia).toISOString().substr(0, 10);
            this.form.fechaReporte = new Date(item.fechaReporte).toISOString().substr(0, 10);
            this.form.fechaLimite = item.fechaLimite;
            this.form.statusAccion = item.statusAccion;
            this.form.statusVerificacion = item.statusVerificacion;
            this.form.observacion = item.observacion;
            this.form.idPlan = item.idPlanAccion;
            this.form.idResponsable[0] = item.id;
            this.nombreResponsable = item.username;
            this.form.idTipo = item.idTipo;
            this.nombreTipo = item.nombreTipo;
            this.form.idSector[0] = item.idarea;
            this.nombreSector = item.nombre;
            this.fotografia(item.idAccion);
            //this.perdidaA(item.idAccion);
            this.editedIndex = 1;
            this.dialog = true;
            
        },
        fotografia(id){
            let me = this;
            axios.get("api/Fotografias/MostrarFotografia/"+id).then(function(response) {
                //console.log(response);
                me.fotografiaAccion = response.data;
                me.form.fotografia = me.fotografiaAccion.fotoAntes;
            }).catch(function(error) {
                console.log(error.response);
            });
        },
        perdidaA(id){
            let me = this;
            axios.get("api/Perdidas/MostrarPerdida/"+id).then(function(response) {
                console.log(response);
                //me.acciones = response.data;
            }).catch(function(error) {
                console.log(error.response);
            });
        },
        guardar(form) {
            this.$refs[form].validate((valid) => {
                if (valid) {
                    if (this.editedIndex > -1) {
                        //Código para editar
                        //Código para guardar
                        let me = this;
                        axios.put("api/Accions/Actualizar", {
                            idAccion: me.form.idAccion,
                            criticidad : me.form.criticidad,
                            reporte : me.form.reporte,
                            detalleAccion : me.form.detalleAccion,
                            fechaOcurrencia : me.form.fechaOcurrencia,
                            fechaReporte : me.form.fechaReporte,
                            fechaLimite : me.form.fechaLimite,
                            statusAccion : me.form.statusAccion,
                            statusVerificacion : me.form.statusVerificacion,
                            observacion : me.form.observacion,
                            idPlanAccion : me.form.idPlan,
                            id : me.form.idResponsable[0],
                            idTipo : me.form.idTipo,
                            idarea : me.form.idSector[0],
                        }).then(function(response) {
                            me.listarAccion();
                            me.limpiar();
                            me.close(form);
                        }).then(data => {
                            this.$message({
                                showClose: true,
                                message: 'Se actualizo una acción de manera correcta.',
                                type: 'success'
                            });
                        })
                        .catch(function(error) {
                            console.log(error);
                        }).then(data => {
                            this.$message({
                                showClose: true,
                                message: 'Ocurrió un problema, intente nuevamente.',
                                type: 'error'
                            });
                        });
                    } else {
                        //Código para guardar
                        if (this.form.tipoPerdida != '' && this.form.fotografia != null) {
                            let me = this;
                            axios.post("api/Accions/InsertarPerdidaFoto",[{
                                criticidad : me.form.criticidad,
                                reporte : me.form.reporte,
                                detalleAccion : me.form.detalleAccion,
                                fechaOcurrencia : me.form.fechaOcurrencia,
                                fechaReporte : me.form.fechaReporte,
                                fechaLimite : me.form.fechaLimite,
                                statusAccion : me.form.statusAccion,
                                statusVerificacion : me.form.statusVerificacion,
                                observacion : me.form.observacion,
                                idPlanAccion : me.form.idPlan,
                                id : me.form.idResponsable[0],
                                idTipo : me.form.idTipo,
                                idarea : me.form.idSector[0],
                            },{
                                idTipoPerdida : me.form.tipoPerdida[0],
                                turno : me.form.turno,
                                tiempoParada : me.form.tiempoParada
                            },{
                                fotoAntes : me.form.fotografia
                            } 
                            ]).then(function(response) {
                                me.listarAccion();
                                me.limpiar();
                                me.close(form);
                            }).then(data => {
                                this.$message({
                                    showClose: true,
                                    message: 'Registro de nueva Acción Exitosa',
                                    type: 'success'
                                });
                            })
                            .catch(function(error) {
                                console.log(error);
                            }).then(data => {
                                this.$message({
                                    showClose: true,
                                    message: 'Ocurrió un problema, intente nuevamente.',
                                    type: 'error'
                                });
                            });
                        }
                        else{
                            if (this.form.tipoPerdida != '' && this.form.fotografia == null) {
                                let me = this;
                                axios.post("api/Accions/InsertarPerdida",[{
                                    criticidad : me.form.criticidad,
                                    reporte : me.form.reporte,
                                    detalleAccion : me.form.detalleAccion,
                                    fechaOcurrencia : me.form.fechaOcurrencia,
                                    fechaReporte : me.form.fechaReporte,
                                    fechaLimite : me.form.fechaLimite,
                                    statusAccion : me.form.statusAccion,
                                    statusVerificacion : me.form.statusVerificacion,
                                    observacion : me.form.observacion,
                                    idPlanAccion : me.form.idPlan,
                                    id : me.form.idResponsable[0],
                                    idTipo : me.form.idTipo,
                                    idarea : me.form.idSector[0],
                                },{
                                    idTipoPerdida : me.form.tipoPerdida[0],
                                    turno : me.form.turno,
                                    tiempoParada : me.form.tiempoParada
                                }
                                ]).then(function(response) {
                                    me.listarAccion();
                                    me.limpiar();
                                    me.close(form);
                                }).then(data => {
                                    this.$message({
                                        showClose: true,
                                        message: 'Registro de nueva Acción Exitosa',
                                        type: 'success'
                                    });
                                })
                                .catch(function(error) {
                                    console.log(error);
                                }).then(data => {
                                    this.$message({
                                        showClose: true,
                                        message: 'Ocurrió un problema, intente nuevamente.',
                                        type: 'error'
                                    });
                                });
                            }
                            else{
                                if (this.form.tipoPerdida == '' && this.form.fotografia != null) {
                                    let me = this;
                                    axios.post("api/Accions/InsertarFoto",[{
                                        criticidad : me.form.criticidad,
                                        reporte : me.form.reporte,
                                        detalleAccion : me.form.detalleAccion,
                                        fechaOcurrencia : me.form.fechaOcurrencia,
                                        fechaReporte : me.form.fechaReporte,
                                        fechaLimite : me.form.fechaLimite,
                                        statusAccion : me.form.statusAccion,
                                        statusVerificacion : me.form.statusVerificacion,
                                        observacion : me.form.observacion,
                                        idPlanAccion : me.form.idPlan,
                                        id : me.form.idResponsable[0],
                                        idTipo : me.form.idTipo,
                                        idarea : me.form.idSector[0],
                                    },{
                                        fotoAntes : me.form.fotografia
                                    }
                                    ]).then(function(response) {
                                        me.listarAccion();
                                        me.limpiar();
                                        me.close(form);
                                    }).then(data => {
                                        this.$message({
                                            showClose: true,
                                            message: 'Registro de nueva Acción Exitosa',
                                            type: 'success'
                                        });
                                    })
                                    .catch(function(error) {
                                        console.log(error);
                                    }).then(data => {
                                        this.$message({
                                            showClose: true,
                                            message: 'Ocurrió un problema, intente nuevamente.',
                                            type: 'error'
                                        });
                                    });
                                }
                                else{
                                    let me = this;
                                    axios
                                    .post("api/Accions/Insertar", {
                                        criticidad : me.form.criticidad,
                                        reporte : me.form.reporte,
                                        detalleAccion : me.form.detalleAccion,
                                        fechaOcurrencia : me.form.fechaOcurrencia,
                                        fechaReporte : me.form.fechaReporte,
                                        fechaLimite : me.form.fechaLimite,
                                        statusAccion : me.form.statusAccion,
                                        statusVerificacion : me.form.statusVerificacion,
                                        observacion : me.form.observacion,
                                        idPlanAccion : me.form.idPlan,
                                        id : me.form.idResponsable[0],
                                        idTipo : me.form.idTipo,
                                        idarea : me.form.idSector[0],
                                    })
                                    .then(function(response) {
                                        me.listarAccion();
                                        me.limpiar();
                                        me.close(form);
                                    }).then(data => {
                                        this.$message({
                                            showClose: true,
                                            message: 'Registro de nueva Acción Exitosa',
                                            type: 'success'
                                        });
                                    })
                                    .catch(function(error) {
                                        console.log(error);
                                    }).then(data => {
                                        this.$message({
                                            showClose: true,
                                            message: 'Ocurrió un problema, intente nuevamente.',
                                            type: 'error'
                                        });
                                    });
                                }
                            }
                        }  
                    }
                }
            });
        },
        validar() {
            this.valida = 0;
            this.validaMensaje = [];

            if (this.form.tema.length < 3 || this.form.tema.length > 50) {
                this.validaMensaje.push(
                "El tema debe tener más de 3 caracteres y menos de 50 caracteres."
                );
            }
            if (this.validaMensaje.length) {
                this.valida = 1;
            }
            return this.valida;
        },
        limpiar(){
            this.form.idAccion = '';
            this.form.criticidad = '';
            this.form.fotografia = null;
            this.form.reporte = '';
            this.form.detalleAccion = '';
            this.form.fechaReporte = new Date().toISOString().substr(0, 10) ;
            this.form.fechaOcurrencia = '';
            this.form.fechaLimite = '';
            this.form.statusAccion = '';
            this.form.statusVerificacion = '';
            this.form.observacion = '';
            this.form.idResponsable = [];
            this.nombreResponsable = '';
            this.form.idTipo = '';
            this.nombreTipo = '';
            this.form.idSector = [];
            this.nombreSector = '';
            this.form.tipoPerdida ='';
            this.form.fechaOcurrencia = '';
            this.form.turno = '';
            this.form.tiempoParada = 1;
        },
        close(form) {
            this.$refs[form].resetFields();
            this.dialog = false;
            this.limpiar();
            if (this.editedIndex > 0) {
                this.editedIndex = -1;
            }
            this.validaMensaje=[];
        },
        formatDate (date) {
            if (!date) return null

            const [year, month, day] = date.split('-');
            return `${day}/${month}/${year}`;
        },
        fechaTable(item){
            var date = new Date(item).toISOString().substr(0, 10);
            return this.formatDate(date);
        }
    }
}
</script>

<style>
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>