<template>
    <v-layout align-start>
       <v-flex> 
        <el-breadcrumb separator-class="el-icon-arrow-right">
            <el-breadcrumb-item :to="{ path: '/home' }">Inicio</el-breadcrumb-item>
            <el-breadcrumb-item :to="{ path: '/matriz-plan-accion'}">Matriz de Plan de Acción</el-breadcrumb-item>
            <el-breadcrumb-item>Información del Plan de Acción</el-breadcrumb-item>
        </el-breadcrumb>
        <el-divider/>      
        <v-card  style="width:100%;" class="mx-auto">
            <v-system-bar class="blue darken-3"> <span class="white--text ">PLAN DE ACCION DE {{title}}</span></v-system-bar>
            
            <div style="padding: 14px;">
                <el-row >
                    <p style=" margin-top: 0px; margin-bottom: 0px;"><font size="2" face="arial"><b>Tema:</b> {{title}}</font></p>
                </el-row >
                <el-row >
                    <p style=" margin-top:1px; margin-bottom: 0px;"><font size="2" face="arial"><b>Fecha Lanzamiento:</b> {{fecha}}</font></p>
                </el-row>
                <el-row>
                    <p style=" margin-top:1px; margin-bottom: 0px;"><font size="2" face="arial"><b>Responsable de Plan:</b> {{nombre}}</font></p>
                </el-row>
            </div>
        </v-card>  
        <el-divider/>
        <v-toolbar flat color="white">
            <v-toolbar-title>Acciones</v-toolbar-title>
            <v-divider
            class="mx-4"
            inset
            vertical
            ></v-divider>
            <v-spacer/>
            <v-text-field
            class="text-xs-center"
            v-model="search"
            append-icon="search"
            label="Búsqueda"
            single-line
            hide-details
            ></v-text-field>
            <v-spacer/>
        </v-toolbar>
        <v-data-table 
            :headers="headers" 
            :items="acciones" 
            :search="search" 
            :items-per-page="4"
            class="elevation-1"
        >
            <template slot="items" slot-scope="props">
                <td>{{props.item.numero}}</td>
                <td>
                    <v-chip :color="getColorCriticidad(props.item.criticidad)"  dark>{{props.item.criticidad}}</v-chip>
                </td>
                <td>{{props.item.reporte}}</td>
                <td>{{props.item.detalleAccion}}</td>
                <td>{{fechaTable(props.item.fechaReporte)}}</td>
                <td>{{fechaTable(props.item.fechaLimite)}}</td>
                <td>
                    <v-chip :color="getColorStatus(props.item.statusAccion)"  dark>{{props.item.statusAccion}}</v-chip>
                </td>
                <td>
                    <v-chip :color="getColorStatus(props.item.statusVerificacion)" dark>{{props.item.statusVerificacion}}</v-chip>
                </td>
                <td>{{props.item.username}}</td>
                <td>{{props.item.nombreTipo}}</td>
                <td>{{props.item.nombre}}</td>
            </template>
            <!--template v-slot:item.criticidad="{item}">
                <v-chip :color="getColorCriticidad(item.criticidad)" dark>{{item.criticidad}}</v-chip>
            </template>
            <template v-slot:item.statusAccion="{item}">
                <v-chip :color="getColorStatus(item.statusAccion)" dark>{{item.statusAccion}}</v-chip>
            </template>
            <template v-slot:item.statusVerificacion="{item}">
                <v-chip :color="getColorStatus(item.statusVerificacion)" dark>{{item.statusVerificacion}}</v-chip>
            </template>
            <template v-slot:item.fechaReporte="{item}">
                {{fechaTable(item.fechaReporte)}}
            </template>
            <template v-slot:item.fechaLimite="{item}">
                {{fechaTable(item.fechaLimite)}}
            </template>
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Acciones</v-toolbar-title>
                    <v-divider
                    class="mx-4"
                    inset
                    vertical
                    ></v-divider>
                    <v-spacer/>
                    <v-text-field
                    class="text-xs-center"
                    v-model="search"
                    append-icon="search"
                    label="Búsqueda"
                    single-line
                    hide-details
                    ></v-text-field>
                    <v-spacer/>
                </v-toolbar>
            </template-->
            <template v-slot:no-data>
                <v-btn color="primary" @click="listarAccion">Cargar Datos</v-btn>
            </template>
        </v-data-table>
        
        </v-flex>
    </v-layout>
</template>
<script>
import axios from 'axios';
export default {
    data(){
        return{
            acciones:[],
            headers:[
                {text: "No.", value: "idAccion"},
                {text: "Criticidad", value: "criticidad"},
                {text: "Reporte", value: "reporte"},
                {text: "Accion", value: "detalleAccion"},
                {text: "fecha de Reporte", value: "fechaReporte"},
                {text: "fecha Limite", value: "fechaLimite"},
                {text: "Estado de Accion", value: "statusAccion"},
                {text: "Estado de Verificacion", value: "statusVerificacion"},
                //{text: "Observacion", value:"observacion"},
                {text: "Responsable", value: "username"},
                {text: "Tipo", value: "nombreTipo"},
                {text: "Sector", value: "nombre"},
                
            ],
            idPlan:'',
            planAccion:[],
            search:'',
            editedIndex: -1

        }
    },
    created(){
        this.selectPlans();
        this.listarAccion();
    },
    computed:{
        title(){
            return this.planAccion['tema'];
        },
        fecha(){
            var date = new Date(this.planAccion['fechaLanzamiento']).toISOString().substr(0, 10);
            return this.formatDate(date);
        },
        nombre(){
            return this.planAccion['nombreResponsable'];
        },
    },
    methods:{
        getColorStatus(item){
            switch (item) {
                case "OK":
                        return 'green'
                    break;
                case "EJECUCION":
                        return 'yellow'
                    break;
                case "RETRASADO":
                        return 'red'
                    break;
                case "PENDIENTE":
                    return '#A4A4A4'
                    break;
                default:
                    break;
            }
        },
        getColorCriticidad(item){
            switch (item) {
                case 'A':
                        return 'red'
                    break;
                case 'B':
                        return 'yellow'
                    break;
                case 'C':
                        return 'green'
                    break;
            
                default:
                    break;
            }
        },
        selectPlans(){
            //lista del plan de accion
            let me=this;
            var id=Number(this.$route.params.id);
            this.idPlan = id;
            axios.get("api/Plans/MostrarPlan/"+id).then(function(response) {
                //console.log(response);
                me.planAccion = response.data;
            })
            .catch(function(error) {
            console.log(error);
            });
        },
        listarAccion() {
            let me = this;
            var id=Number(this.$route.params.id);
            axios.get("api/Accions/AccionPlan/"+id).then(function(response) {
                //console.log(response);
                me.acciones = response.data;
                for (let index = 0; index < me.acciones.length; index++) {
                    me.acciones[index].numero = index+1;
                }
            }).catch(function(error) {
                console.log(error.response);
            });
        },
        formatDate (date) {
            if (!date) return null

            const [year, month, day] = date.split('-');
            return `${day}/${month}/${year}`;
        },
        fechaTable(item){
            var date = new Date(item).toISOString().substr(0, 10);
            return this.formatDate(date);
        }
    }
}
</script>