<template>
    <v-layout align-start>
        <v-flex>
            <el-row :gutter="10">
                <el-col :xs="24" :md="6">
                    <v-subheader>Ingrese Sector</v-subheader>
                    <el-select v-model="idSector" placeholder="Seleccione Sector..." size="small" style="width: 100%;" clearable filterable>
                        <el-option
                            v-for="item in sector"
                            :key="item.value"
                            :value="item.value"
                            :label="item.label"
                        >
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :xs="24" :md="6">
                    <v-subheader>Ingrese Año</v-subheader>
                    <el-date-picker
                    v-model="anio"
                    type="year"
                    placeholder="Selecciona un Año..."
                    size="small"
                    :default-value="anio"
                    style="width: 100%;">
                    </el-date-picker>
                </el-col>
                <el-col :xs="24" :md="6">
                    <v-subheader></v-subheader>
                    <el-button size="small" @click="dataSeguimiento()">Buscar</el-button>
                </el-col>
            </el-row>
            <br>
            <el-row>
                <el-table
                    v-loading="loading"
                    :data="seguimiento"
                    height="580"
                    style="width: 100%"
                    :header-cell-style="tableHeaderColor"
                    :cell-style="{padding: '0', height: '2px'}"
                    size="mini">
                    <el-table-column fixed width="250">
                        <el-table-column
                            prop="nombre"
                            label="Sectores de MA"
                            width="250">
                        </el-table-column>
                    </el-table-column>
                    <el-table-column align="center" label="AZUL">
                        <el-table-column align="center" :label="subtitle(1)">
                            <el-table-column
                                prop="repEne"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateEne"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumEne)">{{ scope.row.cumEne }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                        <el-table-column align="center" :label="subtitle(2)">
                            <el-table-column
                                prop="repFeb"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateFeb"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumFeb)">{{ scope.row.cumFeb }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                        <el-table-column align="center" :label="subtitle(3)">
                            <el-table-column
                                prop="repMar"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateMar"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumMar)">{{ scope.row.cumMar }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                        <el-table-column align="center" :label="subtitle(4)">
                            <el-table-column
                                prop="repAbr"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateAbr"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumAbr)">{{ scope.row.cumAbr }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                        <el-table-column align="center" :label="subtitle(5)">
                            <el-table-column
                                prop="repMay"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateMay"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumMay)">{{ scope.row.cumMay }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                        <el-table-column align="center" :label="subtitle(6)">
                            <el-table-column
                                prop="repJun"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateJun"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumJun)">{{ scope.row.cumJun }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                        <el-table-column align="center" :label="subtitle(7)">
                            <el-table-column
                                prop="repJul"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateJul"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumJul)">{{ scope.row.cumJul }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                        <el-table-column align="center" :label="subtitle(8)">
                            <el-table-column
                                prop="repAgo"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateAgo"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumAgo)">{{ scope.row.cumAgo }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                        <el-table-column align="center" :label="subtitle(9)">
                            <el-table-column
                                prop="repSep"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateSep"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumSep)">{{ scope.row.cumSep }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                        <el-table-column align="center" :label="subtitle(10)">
                            <el-table-column
                                prop="repOct"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateOct"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumOct)">{{ scope.row.cumOct }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                        <el-table-column align="center" :label="subtitle(11)">
                            <el-table-column
                                prop="repNov"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateNov"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumNov)">{{ scope.row.cumNov }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                        <el-table-column align="center" :label="subtitle(12)">
                            <el-table-column
                                prop="repDic"
                                label="# Rep"
                                width="60"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                prop="ateDic"
                                label="# Aten"
                                width="70"
                                align="center">
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(scope.row.cumDic)">{{ scope.row.cumDic }}</span>
                                </template>
                            </el-table-column>
                            <!--el-table-column
                                label="ART (Días)"
                                width="85"
                                align="center">
                            </el-table-column-->
                        </el-table-column>
                    </el-table-column>
                    <el-table-column>
                        <el-table-column align="center" label="TOTAL">
                            <el-table-column
                                label="# Rep"
                                width="60"
                                align="center">
                                <template slot-scope="scope">
                                    <span>{{totalRep(scope.row)}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                label="# Aten"
                                width="70"
                                align="center">
                                <template slot-scope="scope">
                                    <span>{{ totalAte(scope.row) }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                label="% Cump"
                                width="80"
                                align="center">
                                <template slot-scope="scope">
                                    <span :style="cellColor(totalPor(scope.row))">{{ totalPor(scope.row) }}</span>
                                </template>
                            </el-table-column>
                        </el-table-column>
                    </el-table-column>

                </el-table>
            </el-row>
        </v-flex>
    </v-layout>
</template>

<script>
import axios from 'axios';
export default {
    data(){
        return{
            idTarjeta : 2,
            idSector: '',
            sector: [
                { value:0, label: 'Todos'}
            ],
            anio: new Date(),
            seguimiento:[],
            loading: true
        }
    },
    created(){
        this.selectSectors();
        //this.dataSeguimiento();
        //this.totalRep();
    },
    computed:{
        
    },
    methods:{
        selectSectors(){
            //lista de todas las areas
            let me=this;
            var sectorArray=[];
            axios.get('api/Areas/Listar').then(function(response){
                me.sectorArray=response.data;
                me.sectorArray.map(function(x){
                    me.sector.push({value: x.id, label: x.nombre});
                });
            }).catch(function(error){
                console.log(error);
            });
            console.log(me.sector);
        },
        subtitle(value){
            if (this.anio != null) {
                switch (value) {
                    case 1:
                        return 'Ene-'+this.anio.toISOString().substr(2,2);
                        break;
                    case 2:
                        return 'Feb-'+this.anio.toISOString().substr(2,2);
                        break;
                    case 3:
                        return 'Mar-'+this.anio.toISOString().substr(2,2);
                        break;
                    case 4:
                        return 'Abr-'+this.anio.toISOString().substr(2,2);
                        break;
                    case 5:
                        return 'May-'+this.anio.toISOString().substr(2,2);
                        break;
                    case 6:
                        return 'Jun-'+this.anio.toISOString().substr(2,2);
                        break;
                    case 7:
                        return 'Jul-'+this.anio.toISOString().substr(2,2);
                        break;
                    case 8:
                        return 'Ago-'+this.anio.toISOString().substr(2,2);
                        break;
                    case 9:
                        return 'Sep-'+this.anio.toISOString().substr(2,2);
                        break;
                    case 10:
                        return 'Oct-'+this.anio.toISOString().substr(2,2);
                        break;
                    case 11:
                        return 'Nov-'+this.anio.toISOString().substr(2,2);
                        break;
                    case 12:
                        return 'Dic-'+this.anio.toISOString().substr(2,2);
                        break;
                    default:
                        break;
                }
            }
            
        },
        totalRep(row){
            let sum = row.repEne + row.repFeb + row.repMar + row.repAbr + row.repMay + row.repJun + row.repJul + row.repAgo + row.repSep + row.repOct + row.repNov + row.repDic;
            return sum;
        },
        totalAte(row){
            let sum = row.ateEne + row.ateFeb + row.ateMar + row.ateAbr + row.ateMay + row.ateJun + row.ateJul + row.ateAgo + row.ateSep + row.ateOct + row.ateNov + row.ateDic;
            return sum;
        },
        totalPor(row){
            let a = row.ateEne + row.ateFeb + row.ateMar + row.ateAbr + row.ateMay + row.ateJun + row.ateJul + row.ateAgo + row.ateSep + row.ateOct + row.ateNov + row.ateDic;
            let b = row.repEne + row.repFeb + row.repMar + row.repAbr + row.repMay + row.repJun + row.repJul + row.repAgo + row.repSep + row.repOct + row.repNov + row.repDic;
            if (a === 0) {
                return '';
            }
            else{
                return ((a/b)*100).toFixed()+'%';
            }
        },
        colorCum(porcent){
            if (porcent === '100%') {
                return "background-color: #5B9BD5;border: hidden;color: white;font-weight: 600;";
            }
        },
        dataSeguimiento(){
            let me = this;
            var seguimientoArray= [];
            me.loading = true;
            axios.get('api/Tarjetas/ListarSeguimientoTarjetas/'+me.idSector+'/'+me.idTarjeta+'/'+this.anio.getFullYear()).then(function(response){
                me.seguimiento = response.data;
                if (me.seguimiento.length > 0) {
                    me.loading = false;
                }
            }).catch(function(error){
                console.log(error);
            });
        },
        tableHeaderColor({ row, column, rowIndex, columnIndex }) {
            if (rowIndex === 0 && columnIndex >= 0) {
                return "background-color: #5B9BD5;border: hidden;color: white;font-weight: 600;"; 
            }
            if ((rowIndex === 0 && columnIndex === 0) ) {
                return "background-color: #FFFFFF;color: black;font-weight: 700;";
            }
            if ((rowIndex === 1 && columnIndex === 0) || (rowIndex === 2 && columnIndex >= 0)) {
                return "background-color: #FFFFFF; color: black;font-weight: 700;";
            }
            if ((rowIndex === 1 && columnIndex >= 0)) {
                return "background-color: #F0F3F4; color: black;font-weight: 700;";
            }
        },
        cellColor(row){
            if (row === '100%') {
                return "color: green;font-weight: 500;";
            }
            else{
                return "color: red;font-weight: 500;";
            }
        }


    }
}
</script>