<template>
  <v-layout align-start>
   
    <v-flex>
      <el-row :gutter="10">
        <el-col :xs="24" :md="12">
          <v-card class="my-2">
            <v-list-tile two-line>
              <v-list-tile-content>
                <v-list-tile-title class="headline">WCM Roja</v-list-tile-title>
                <span>Datos relevantes de las tarjetas</span>
              </v-list-tile-content>
            </v-list-tile>

            <v-card-text>
              <apexchart
                type="area"
                ref="chartRoja"
                height="645"
                :options="chartOptionsRoja"
                :series="seriesRoja"
              ></apexchart>
            </v-card-text>
          </v-card>
        </el-col>
        <el-col :xs="24" :md="12">
          <el-row :gutter="10">
            <el-col :xs="24" :md="12">
              <v-card class="mt-2">
                <v-list-tile two-line>
                  <v-list-tile-content>
                    <v-list-tile-title class="headline">WCM Azul</v-list-tile-title>
                    <span>Datos relevantes de las tarjetas</span>
                  </v-list-tile-content>
                </v-list-tile>

                <v-card-text>
                  <apexchart
                    type="bar"
                    ref="chartAzul"
                    height="260"
                    :options="chartOptionsAzul"
                    :series="seriesAzul"
                  ></apexchart>
                </v-card-text>
              </v-card>
            </el-col>
            <el-col :xs="24" :md="12">
              <v-card class="mt-2">
                <v-list-tile two-line>
                  <v-list-tile-content>
                    <v-list-tile-title class="headline">WCM Amarilla</v-list-tile-title>
                    <span>Datos relevantes de las tarjetas</span>
                  </v-list-tile-content>
                </v-list-tile>

                <v-card-text>
                  <apexchart
                    type="line"
                    ref="chartAmarilla"
                    height="260"
                    :options="chartOptionsAmarilla"
                    :series="seriesAmarilla"
                  ></apexchart>
                </v-card-text>
              </v-card>
            </el-col>
          </el-row>
          <el-row :gutter="20">
            <v-card class="mt-2 mx-2">
              <v-list-tile two-line>
                <v-list-tile-content>
                  <v-list-tile-title class="headline">WCM SHE</v-list-tile-title>
                  <span>Datos relevantes de las tarjetas</span>
                </v-list-tile-content>
              </v-list-tile>

              <v-card-text>
                <apexchart
                  type="donut"
                  ref="chartSHE"
                  height="270"
                  :options="chartOptionsSHE"
                  :series="seriesSHE"
                ></apexchart>
              </v-card-text>
            </v-card>
          </el-row>
        </el-col>
        <el-row :gutter="20">
            <Meses></Meses>
          </el-row>
      </el-row>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from "axios";
import Meses from "@/components/wcm/Dashboard/MesesResumen.vue";

export default {
   components: {
        Meses
    },
  data() {
    return {
      seriesRoja: [],
      chartOptionsRoja: {
        chart: {
          height: 350,
          type: "area"
        },
        colors: ["#FF0000", "#FA5858"],
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: "smooth"
        },
        xaxis: {
          type: "datetime",
          categories: [
            "2018-09-19T00:00:00.000Z",
            "2018-09-19T01:30:00.000Z",
            "2018-09-19T02:30:00.000Z",
            "2018-09-19T03:30:00.000Z",
            "2018-09-19T04:30:00.000Z",
            "2018-09-19T05:30:00.000Z",
            "2018-09-19T06:30:00.000Z"
          ]
        },
        tooltip: {
          x: {
            format: "dd/MM/yy HH:mm"
          }
        }
      },

      seriesAzul: [],
      chartOptionsAzul: {
        chart: {
          height: 350,
          type: "bar"
        },
        plotOptions: {
          bar: {
            dataLabels: {
              position: "top" // top, center, bottom
            }
          }
        },
        dataLabels: {
          enabled: true,
          formatter: function(val) {
            return val + "%";
          },
          offsetY: -10,
          style: {
            fontSize: "12px",
            colors: ["#304758"]
          }
        },

        xaxis: {
          categories: [
            "Feb",
            "Mar",
            "Abr",
            "May",
            "Jun",
            "Jul",
            "Ago",
            "Sep",
            "Oct",
            "Nov"
          ],
          position: "bottom",
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          crosshairs: {
            fill: {
              type: "gradient",
              gradient: {
                colorFrom: "#D8E3F0",
                colorTo: "#BED1E6",
                stops: [0, 100],
                opacityFrom: 0.4,
                opacityTo: 0.5
              }
            }
          },
          tooltip: {
            enabled: true
          }
        },
        yaxis: {
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          labels: {
            show: false,
            formatter: function(val) {
              return val + "%";
            }
          }
        },
        title: {
          text: "Monthly Inflation in Argentina, 2002",
          floating: true,
          offsetY: 330,
          align: "center",
          style: {
            color: "#444"
          }
        }
      },

      seriesAmarilla: [],
      chartOptionsAmarilla: {
        chart: {
          height: 350,
          type: "line",
          zoom: {
            enabled: false
          }
        },
        colors: ["#FFFF00"],
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: "straight"
        },
        title: {
          text: "Product Trends by Month",
          align: "left"
        },
        grid: {
          row: {
            colors: ["#f3f3f3", "transparent"], // takes an array which will be repeated on columns
            opacity: 0.5
          }
        },
        xaxis: {
          categories: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep"
          ]
        }
      },

      seriesSHE: [],
      chartOptionsSHE: {
        chart: {
          type: "donut"
        },
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                height: 100
              },
              legend: {
                position: "bottom"
              }
            }
          }
        ]
      },

      wcmRoja: [],
      wcmAzul: [],
      wcmAmarilla: [],
      wcmSHE: []
    };
  },
  created() {
    this.wcmRojaData();
    this.wcmAzulData();
    this.wcmAmarillaData();
    this.wcmSHEData();
  },
  methods: {
    wcmRojaData() {
      this.wcmRoja.push(
        {
          name: "series1",
          data: [31, 40, 28, 51, 42, 109, 100]
        },
        {
          name: "series2",
          data: [11, 32, 45, 32, 34, 52, 41]
        }
      );
      this.seriesRoja = this.wcmRoja;
      /*let me=this;
            var wcmRojaArray=[];
            axios.get('api/Controlador/Método').then(function(response){
                me.wcmRojaArray=response.data;
                me.wcmRojaArray.map(function(x){
                    me.wcmRoja.push({x: x.variable que se manda desde el backend y se mostrara en el eje de las x, y: variable que se manda desde el backend y se mostrara en el eje de las y});
                });
                //Actualizamos el array del gráfico
                me.$refs.chartRoja.updateSeries([
                    {
                        data: me.wcmRoja
                    }
                ]);
            }).catch(function(error){
                console.log(error);
            });*/
    },
    wcmAzulData() {
      this.wcmAzul.push({
        name: "Inflation",
        data: [3.1, 4.0, 10.1, 4.0, 3.6, 3.2, 2.3, 1.4, 0.8, 0.5]
      });
      this.seriesAzul = this.wcmAzul;
    },
    wcmAmarillaData() {
      this.wcmAmarilla.push({
        name: "wcms",
        data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
      });
      this.seriesAmarilla = this.wcmAmarilla;
    },
    wcmSHEData() {
      this.wcmSHE.push(44, 55, 41, 17, 15);
      this.seriesSHE = this.wcmSHE;
    }
  }
};
</script>

<style>
</style>