<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>SistemaUnilever</title>
    <style type="text/css">
      #style-scroll::-webkit-scrollbar
      {
        background-color: #f1f1f1;
        width: 11px;
        height: 11px;
      }

      /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
      #style-scroll::-webkit-scrollbar-thumb {
          background: #ccc;
          border-radius: 4px;
      }

      /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
      #style-scroll::-webkit-scrollbar-thumb:hover {
          background: #b3b3b3;
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
      }

      /* Cambiamos el fondo cuando esté en active */
      #style-scroll::-webkit-scrollbar-thumb:active {
          background-color: #999999;
      }

      /* Ponemos un color de fondo y redondeamos las esquinas del track */
      #style-scroll::-webkit-scrollbar-track {
          background: #e1e1e1;
          border-radius: 4px;
      }

      /* Cambiamos el fondo cuando esté en active o hover */
      #style-scrol::-webkit-scrollbar-track:hover,
      #style-scrol::-webkit-scrollbar-track:active {
        background: #d4d4d4;
      }
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
  </head>
  <body id="style-scroll">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
