<template>
  <v-hover>
    {{FormateoDataTabla}}
    <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`" class="mx-auto">
      <v-layout pa-2 mb-1 justify-center align-center wrap>
        <v-flex xs12>
          <div
            class="title pa-1 text-md-center grey--text"
          >CUMPLIMIENTO DE ATENCION DE TARJETAS TOTAL</div>
        </v-flex>
        <v-layout row>
          <v-flex xs3 dark color=" green darken-3">
            <v-card max-width="110" class="mx-auto">
              <div
                class="title-1 blue darken-3 text-md-center font-weight-light white--text"
              >REPONSABLE:</div>

              <v-img :src="CurrentAvatar" height="100"></v-img>

              <div
                class="font-weight-medium title-1 text-md-center font-weight-dark white--black"
              >{{NombreUsuario}}</div>
            </v-card>
          </v-flex>
          <v-flex xs9>
            <v-card dark color="green darken-1">
              <template>
                <el-table
                  :data="DataModificadaTABLAMain"
                  show-summary
                  sum-text="Total"
                  style="width: 100%"
                  :header-cell-style="tableHeaderColor"
                  size="mini"
                  stripe
                  :cell-style="{padding: '0', height: '10px'}"
                >
                  <el-table-column prop="nombre" label="SECTORES" header-cell-style="ok"></el-table-column>
                  <el-table-column width="50" prop="totalok" label="OK"></el-table-column>
                  <el-table-column width="84" prop="totalejecucion" label="EJECUCION"></el-table-column>
                  <el-table-column width="88" prop="totalretrasada" label="RETRASADA"></el-table-column>
                </el-table>
              </template>
            </v-card>
          </v-flex>
        </v-layout>
      </v-layout>

      <v-flex sx12>
        <v-card class="mt-2">
          <v-flex xs12 class="ml-3 mr-3">
            <div
              class="title-1 text-md-center font-weight-dark black--text"
            >CUMPLIMIENTO DE ATENCION DE TARJETAS</div>
          </v-flex>
          <v-card-text>
            <apexchart
              type="bar"
              ref="chartAzul"
              height="200"
              :options="chartOptionsAzul"
              :series="seriesAzul"
            ></apexchart>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-card-actions>
        <v-spacer></v-spacer>


        <v-btn color="blue darken-1" text @click="dialog = false">Agree</v-btn>
      </v-card-actions>
    </v-card>
  </v-hover>
</template>
  
<script src="./_base-matriz.js"></script>
<style serc="./_base-matriz.cs"></style>


