<template>
    <v-layout align-start>
        <v-flex> 
          <v-spacer></v-spacer>
          <v-flex xs12 >
            <v-list-tile-title class="headline text-md-center">GRAFICAS DE ATENCION DE TARJETAS WCM</v-list-tile-title>
            <v-spacer></v-spacer>
            <el-divider></el-divider>
          </v-flex> 
          <el-row :gutter="10">
            <el-col :xs="24" :md="3">
              <el-select v-model="tipoTarjeta" :change="update" placeholder="Buscar por..."  size="mini" style="margin-left: 1%;" clearable>
                <el-option v-for="item in tarjeta"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-col>
            <el-col :xs="24" :md="3">
              <el-input
                placeholder="Ingrese Año Inicial"
                size="mini"
                v-model="aInicial"
                required
                clearable>
              </el-input>
            </el-col>
            <el-col :xs="24" :md="3">
              <el-input
                placeholder="Ingrese Año Final"
                size="mini"
                v-model="aFinal"
                clearable>
              </el-input>
            </el-col>
            <el-col :xs="24" :md="2">
              <el-button @click="graphics" size="mini" type="primary" icon="el-icon-s-data">Graficar</el-button>
            </el-col>
          </el-row>
          <v-spacer></v-spacer>
          <el-col :xs="24" :md="12">
              <v-card class="mt-2" >
                  <v-list-tile two-line>
                      <v-list-tile-content>
                          <span>Tarjetas de mantenimiento</span>
                          <span>Atencion Tarjetas Rojas - Acumulado Paso 0</span>
                      </v-list-tile-content>
                  </v-list-tile>

                  <v-card-text>
                      <apexchart type="line" ref="chartMantenimiento" height="450" :options="chartOptionsMantenimiento" :series="seriesMantenimiento"></apexchart>
                  </v-card-text>
              </v-card>
          </el-col>

          <el-col :xs="24" :md="12" v-if="this.tipoTarjeta != 3">
              <v-card class="mt-2">
                  <v-list-tile two-line>
                      <v-list-tile-content>
                          <span>Tarjetas SHE resueltas por mantenimiento</span>
                          <span>Atencion Tarjetas Verdes-Rojas - Acumulado</span>
                      </v-list-tile-content>
                  </v-list-tile>

                  <v-card-text>
                      <apexchart type="line" ref="chartShe" height="450" :options="chartOptionsSHE" :series="seriesSHE"></apexchart>
                  </v-card-text>
              </v-card>
          </el-col> 
          
        </v-flex> 
    </v-layout>
</template>

<script>
import axios from 'axios';
export default {
    data(){
        return{ 
          tipoTarjeta:'',
          tarjeta: [
            {value: 1 ,label:'Tarjeta Roja'},
            {value: 2,label:'Tarjeta Azul'},
            {value: 3,label:'Tarjeta Amarilla'},
          ],
          aInicial:'',
          aFinal:'',
          fecha:[],
          tarjetaAbierta:[],
          tarjetaCerrada:[],
          tarjetaAtendida:[],
          fechaShe:[],
          tarjetaAbiertaShe:[],
          tarjetaCerradaShe:[],
          tarjetaAtendidaShe:[],
          tiempoResolucion:[],
          seriesMantenimiento: [],
          Mantenimiento: [],
          chartOptionsMantenimiento: {
            chart: {
              height: 350,
              type: 'line',
              stacked: false
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              width: [1, 1, 4]
            },
            title: {
              text: ' ',
              align: 'left',
              offsetX: 110
            },
            xaxis: {
              categories: [],
            },
            yaxis: [
              {
                axisTicks: {
                  show: true,
                },
                axisBorder: {
                  show: true,
                  color: '#008FFB'
                },
                labels: {
                  style: {
                    colors: '#008FFB',
                  }
                },
                title: {
                  text: "# Tarjetas Rojas Abiertas",
                  style: {
                    color: '#008FFB',
                  }
                },
                tooltip: {
                  enabled: true
                }
              },
              {
                seriesName: 'Income',
                opposite: true,
                axisTicks: {
                  show: true,
                },
                axisBorder: {
                  show: true,
                  color: '#00E396'
                },
                labels: {
                  style: {
                    colors: '#00E396',
                  }
                },
                title: {
                  text: "Tarjetas Rojas Cerradas",
                  style: {
                    color: '#00E396',
                  }
                },
              },
              {
                seriesName: 'Revenue',
                opposite: true,
                axisTicks: {
                  show: true,
                },
                axisBorder: {
                  show: true,
                  color: '#FEB019'
                },
                labels: {
                  style: {
                    colors: '#FEB019',
                  },
                },
                title: {
                  text: "Tarjetas Rojas Atendidas",
                  style: {
                    color: '#FEB019',
                  }
                }
              },
            ],
            tooltip: {
              fixed: {
                enabled: true,
                position: 'topLeft', // topRight, topLeft, bottomRight, bottomLeft
                offsetY: 30,
                offsetX: 60
              },
            },
            legend: {
              horizontalAlign: 'left',
              offsetX: 40
            }
          },

          seriesSHE: [],
          SHE: [],
          chartOptionsSHE: {
            chart: {
              height: 350,
              type: 'line',
              stacked: false
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              width: [1, 1, 1, 4]
            },
            title: {
              text: ' ',
              align: 'left',
              offsetX: 110
            },
            xaxis: {
              categories: [],
            },
            yaxis: [
              {
                axisTicks: {
                  show: true,
                },
                axisBorder: {
                  show: true,
                  color: '#008FFB'
                },
                labels: {
                  style: {
                    colors: '#008FFB',
                  }
                },
                title: {
                  text: "# Tarjetas Rojas Abiertas",
                  style: {
                    color: '#008FFB',
                  }
                },
                tooltip: {
                  enabled: true
                }
              },
              {
                seriesName: 'Income',
                opposite: true,
                axisTicks: {
                  show: true,
                },
                axisBorder: {
                  show: true,
                  color: '#00E396'
                },
                labels: {
                  style: {
                    colors: '#00E396',
                  }
                },
                title: {
                  text: "Tarjetas Rojas Cerradas",
                  style: {
                    color: '#00E396',
                  }
                },
              },
              {
                seriesName: 'Acumulado',
                opposite: true,
                axisTicks: {
                  show: true,
                },
                axisBorder: {
                  show: true,
                  color: 'black'
                },
                labels: {
                  style: {
                    colors: 'black',
                  }
                },
                title: {
                  text: "Tarjetas Rojas Cerradas",
                  style: {
                    color: 'black',
                  }
                },
              },
              {
                seriesName: 'Revenue',
                opposite: true,
                axisTicks: {
                  show: true,
                },
                axisBorder: {
                  show: true,
                  color: '#FEB019'
                },
                labels: {
                  style: {
                    colors: '#FEB019',
                  },
                },
                title: {
                  text: "Tarjetas Rojas Atendidas",
                  style: {
                    color: '#FEB019',
                  }
                }
              },
            ],
            tooltip: {
              fixed: {
                enabled: true,
                position: 'topLeft', // topRight, topLeft, bottomRight, bottomLeft
                offsetY: 30,
                offsetX: 60
              },
            },
            legend: {
              horizontalAlign: 'left',
              offsetX: 40
            }
          },
          
        }
    },
    created(){
        //this.chartMantenimiento(); 
        //this.chartSHE(); 
    },
    computed:{
      update(){
        let me = this;
        if (me.tipoTarjeta == '') {
            me.aInicial = '';
            me.aFinal = '';
            
        }
        return;
      }
    },
    methods:{
        clean(){
            let me = this;
            me.fechaShe=[];
            me.tarjetaAbiertaShe=[];
            me.tarjetaAtendidaShe=[];
            me.tarjetaCerradaShe=[];
            me.tiempoResolucion=[];
            me.$refs.chartMantenimiento.updateOptions({
                xaxis:{
                  categories: []
                }
              });
            me.$refs.chartMantenimiento.updateSeries([]);
        },
        graphics(){
          let me = this;
          me.chartMantenimiento();
          me.chartSHE();
        },
        chartMantenimiento(){
          let me = this;
          var mantenimientoArray = [];
            axios.get('api/RegistrosAnomalias/ListarTarjetas/'+me.tipoTarjeta+'/'+me.aInicial+'/'+me.aFinal).then(function(response){
                me.mantenimientoArray=response.data;
                console.log("tarjeta",response.data)
                me.Mantenimiento=[];
                me.fecha=[];
                me.tarjetaAbierta=[];
                me.tarjetaAtendida=[];
                me.tarjetaCerrada=[];
                me.mantenimientoArray.map(function(x){
                    me.fecha.push(x.fecha);
                    me.tarjetaAbierta.push(x.tarjetaAbierta);
                    me.tarjetaAtendida.push(x.tarjetaAtendida);
                    me.tarjetaCerrada.push(x.tarjetaCerrada);
                });
                //console.log(me.Mantenimiento);
                me.$refs.chartMantenimiento.updateOptions({
                  xaxis:{
                    categories: me.fecha
                  }
                });
                me.$refs.chartMantenimiento.updateSeries([{
                    name: 'Tarjetas Rojas Abiertas - Acumuladas',
                    type: 'column',
                    data: me.tarjetaAbierta
                    }, {
                    name: 'Tarjetas Rojas Cerradas - Acumuladas',
                    type: 'column',
                    data: me.tarjetaCerrada
                    }, {
                    name: 'Tarjetas Rojas Atendidas - Acumuladas',
                    type: 'line',
                    data: me.tarjetaAtendida
                }]);
                //me.seriesMantenimiento = me.Mantenimiento;
                
            }).catch(function(error){
                console.log(error);
            });
            /*this.Mantenimiento.push(
                {
                    name: 'Tarjetas Rojas Abiertas - Acumuladas',
                    type: 'column',
                    data: [10, 11, 15, 17, 20, 23, 25, 30]
                    }, {
                    name: 'Tarjetas Rojas Cerradas - Acumuladas',
                    type: 'column',
                    data: [8, 11, 13, 15, 18, 23, 24, 29]
                    }, {
                    name: 'Tarjetas Rojas Atendidas - Acumuladas',
                    type: 'line',
                    data: [2, 11, 14, 16, 16, 23, 21, 29]
                }
            );*/
            //this.seriesMantenimiento = this.Mantenimiento;
            //this.chartOptionsMantenimiento.xaxis.categories = ['Ago-20', 'Sep-20', 'Oct-20', 'Nov-20', 'Dic-20', 'Ene-21', 'Feb-21', 'Mar-21']
        }, 
        chartSHE(){
            let me = this;
            var sheArray = [];
            if (me.tipoTarjeta == 3) {
              me.fechaShe=[];
              me.tarjetaAbiertaShe=[];
              me.tarjetaAtendidaShe=[];
              me.tarjetaCerradaShe=[];
              me.tiempoResolucion=[];
              me.$refs.chartShe.updateOptions({
                  xaxis:{
                    categories: []
                  }
                });
                me.$refs.chartShe.updateSeries([]);
              return;
            }
            axios.get('api/RegistroShes/ListarTarjetasShe/'+me.tipoTarjeta+'/'+me.aInicial+'/'+me.aFinal).then(function(response){
                me.sheArray=response.data;
                console.log("she",response.data)
                me.fechaShe=[];
                me.tarjetaAbiertaShe=[];
                me.tarjetaAtendidaShe=[];
                me.tarjetaCerradaShe=[];
                me.tiempoResolucion=[];
                me.sheArray.map(function(x){
                    me.fechaShe.push(x.fecha);
                    me.tarjetaAbiertaShe.push(x.tarjetaAbierta);
                    me.tarjetaAtendidaShe.push(x.tarjetaAtendida);
                    me.tarjetaCerradaShe.push(x.tarjetaCerrada);
                    me.tiempoResolucion.push(x.tiempoResolucion);
                });
                //console.log(me.Mantenimiento);
                me.$refs.chartShe.updateOptions({
                  xaxis:{
                    categories: me.fechaShe
                  }
                });
                me.$refs.chartShe.updateSeries([{
                    name: 'Tarjetas Verdes-Rojas Abiertas - Acumuladas',
                    type: 'column',
                    data: me.tarjetaAbiertaShe
                    }, {
                    name: 'Tarjetas Verdes-Rojas Cerradas - Acumuladas',
                    type: 'column',
                    data: me.tarjetaCerradaShe
                    },{
                    name: 'Tiempo de Resolucion de Tarjetas Verdes-Rojas - Promedio',
                    type: 'column',
                    data: me.tiempoResolucion
                    },{
                    name: 'Tarjetas Verdes-Rojas Atendidas - Acumuladas',
                    type: 'line',
                    data: me.tarjetaAtendidaShe
                }]);
                //me.seriesMantenimiento = me.Mantenimiento;
                
            }).catch(function(error){
                console.log(error);
            });
            /*this.SHE.push(
              {
              name: 'Tarjetas Verdes-Rojas Abiertas - Acumuladas',
              type: 'column',
              data: [10, 11, 15, 17, 20, 23, 25, 30]
              }, {
              name: 'Tarjetas Verdes-Rojas Cerradas - Acumuladas',
              type: 'column',
              data: [8, 11, 13, 15, 18, 23, 24, 29]
              },{
              name: 'Tiempo de Resolucion de Tarjetas Verdes-Rojas - Promedio',
              type: 'column',
              data: [3, 12, 15, 17, 17, 24, 22, 30]
              },{
              name: 'Tarjetas Verdes-Rojas Atendidas - Acumuladas',
              type: 'line',
              data: [2, 11, 14, 16, 16, 23, 21, 29]
              }
            );
            this.seriesSHE = this.SHE;
            this.chartOptionsSHE.xaxis.categories = ['Ago-20', 'Sep-20', 'Oct-20', 'Nov-20', 'Dic-20', 'Ene-21', 'Feb-21', 'Mar-21']*/
        }, 
        
    }

}
</script>

<style>
body {
  font-family: Roboto, sans-serif;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}
</style>