<template>
  <v-card max-width="400"  :color="color" class="mx-auto ma-2 white--text">
    <v-layout>
      <v-flex xs12>
        <v-card-title primary-title>
          <div>
            <div class="title font-weight-bold">Resumen Total</div>
            <v-divider class="mb-1" light></v-divider>
            <div class="overline">Reportadas: 89</div>
            <div class="subtitle-1"> Atendidas: 43</div>
          </div>
        </v-card-title>
        <div class="mb-1">
      <el-progress class="mb-1 pa-1" :text-inside="true" :stroke-width="15" :percentage="percentage" :color="customColorMethod"></el-progress>
   </div>
      </v-flex>
      
    </v-layout>
    
   
  </v-card>
</template>
<script>
//import Popup from './Popup.vue'
export default {
  data: () => ({
    percentage: 80
  }),
  props: {
    color: String,
    nombre: String,
    total: Number
  },
  components: {
    // Popup
  },
  created() {
    console.log("prospo color", this.color);
  },
  methods: {
    customColorMethod(percentage) {
      if (percentage < 30) {
        return "#909399";
      } else if (percentage < 70) {
        return "#e6a23c";
      } else {
        return "#67c23a";
      }
    },
    increase() {
      this.percentage += 10;
      if (this.percentage > 100) {
        this.percentage = 100;
      }
    },
    decrease() {
      this.percentage -= 10;
      if (this.percentage < 0) {
        this.percentage = 0;
      }
    }
  }
};
</script>
<style scoped>
.border {
  border-left: 4px solid #0ba518;
}
</style>

