<template>
  <v-container class="mt-12" fluid grid-list-md>
    <v-layout align-start row wrap class=" justify-center">
      <v-flex xs12 md8>  
        <v-layout row wrap>          
        <v-flex d-flex xs12>
            <v-layout row wrap ml-3 mr-3 mt-0 mb-0>
                <v-flex d-flex xs3 ma-2>
                    <v-card :to="{name:'tarjetas'}" hover width="155" height="155" class="grey lighten-3 font-weight-bold" align="center">
                        <v-icon color="rgb(52,69,99)" class="mt-2" size="90" mt-2>credit_card</v-icon>
                        <v-card-text style="color: #344563;">TARJETAS</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex d-flex xs3 ma-2>
                    <v-card hover width="155" height="155" class="grey lighten-3 font-weight-bold" align="center">
                            <v-icon color="rgb(52,69,99)" class="mt-2" size="90" mt-2>chrome_reader_mode</v-icon>
                            <v-card-text style="color: #344563;">PAMCO</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex d-flex xs3 ma-2>
                    <v-card hover width="155" height="155" class="grey lighten-3 font-weight-bold" align="center">
                            <v-icon color="rgb(52,69,99)" class="mt-2" size="90" mt-2>eject</v-icon>
                            <v-card-text style="color: #344563;">PIRAMIDES</v-card-text>
                    </v-card>
                </v-flex>
                
                 
            </v-layout>
            
        </v-flex>
        <v-flex d-flex xs12>
            <v-layout row wrap ml-3 mr-3 mt-1>
                <v-flex d-flex xs3 ma-2>
                    <v-card hover width="155" height="155" class="grey lighten-3 font-weight-bold" align="center">
                        <v-icon color="rgb(52,69,99)" class="mt-2" size="90">airplay</v-icon>
                        <v-card-text style="color: #344563;">PLAN DE ACCIÓN</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex d-flex xs3 ma-2>
                    <v-card hover width="155" height="155" class="grey lighten-3 font-weight-bold" align="center">
                        <v-icon color="rgb(52,69,99)" class="mt-2" size="90">build</v-icon>
                        <v-card-text style="color: #344563;">INGENIERIA</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex d-flex xs3 ma-2>
                    <v-card hover width="155" height="155" class="grey lighten-3 font-weight-bold" align="center">
                        <v-icon color="rgb(52,69,99)" class="mt-2" size="90">shopping_basket</v-icon>
                        <v-card-text style="color: #344563;">PRODUCCIÓN</v-card-text>
                    </v-card>
                </v-flex>
                 
            </v-layout>
            
        </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

  </v-container>
</template>

<script>
  export default {
    name: 'HelloWorld',

    data: () => ({
      
    }),
  }
</script>
