<template>
    <v-layout align-start>
        <v-flex>
            <el-row>
                <el-col :xs="24">
                    <span class="font-weight-thin" style="margin-left: 2%;">Ver Gráfico según el Status</span>
                    <el-select v-model="selectStatus" :change="grafico" size="mini" style="margin-left: 1%;" clearable>
                        <el-option v-for="item in status"
                            :key="item.value"
                            :label="item.value"
                            :value="item.value">
                        </el-option>
                    </el-select>
                    <apexchart type="bar" style="margin-top: 2%;" ref="chart" height="430" :options="chartOptions1" :series="series1"></apexchart>
                </el-col>
            </el-row>
        </v-flex>
    </v-layout>
</template>

<script>
import axios from 'axios'
export default {
    data(){
        return{

            plan:[],
            selectStatus: '',
            status: [
                {value: 'OK'},
                {value: 'EJECUCION'},
                {value: 'RETRASADO'}
            ],
            series1: [],
            chartOptions1: {
                chart: {
                    type: 'bar',
                    width: '100%',
                    height: '100%'
                },
                colors: ['#04B404'],
                noData:{
                    text: 'Cargando...'
                },
                title: {
                    text: 'PLANES DE ACCIÓN STATUS OK',
                    align: 'center',
                    style: {
                        fontSize:  '20px',
                        fontWeight: 'bold' ,
                        fontFamily:  'arial',
                        color:  '#2E2E2E'
                    },
                },
                plotOptions: {
                    bar: {
                        horizontal: true,
                        dataLabels: {
                            position: 'top',
                        },
                    }
                },
                dataLabels: {
                    enabled: true,
                    formatter: function (val) {
                        return val + "%";
                    },
                    offsetX: 30,
                    style: {
                        fontSize: '12px',
                        colors: ['#304758']
                    }
                },
                stroke: {
                show: true,
                width: 1,
                colors: ['#fff']
                },
                xaxis: {
                    title:{
                        text:'Progreso'
                    },
                    type: 'category'
                },
                yaxis:{
                    title: {
                        text: 'Plan de Acción'
                    },
                    min: 0,
                    max: 100,
                },
                tooltip: {
                    shared: true,
                    intersect: false,
                    y: {
                        formatter: function (y) {
                        if (typeof y !== "undefined") {
                            return y.toFixed(0) + "%";
                        }
                        return y;
                    
                        }
                    }
                }
            },
        }
    },
    computed:{
        grafico(){
            let me=this;
            var planArray=[];
            if (me.selectStatus == '') {
                me.grafico1();
                return
            }
            switch (me.selectStatus) {
                case 'OK':
                    me.chartOptions1.colors[0] = '#04B404';
                break;
                case 'EJECUCION':
                    me.chartOptions1.colors[0] = '#FFFF00';
                break;
                case 'RETRASADO':
                    me.chartOptions1.colors[0] = '#FF0000';
                break;
            
                default:
                    break;
            }
            me.series1 = [];
            axios.get('api/Plans/ListarPlanAvance/'+ me.selectStatus).then(function(response){
                me.planArray=response.data;
                me.plan = [];
                me.planArray.map(function(x){
                    me.plan.push({x: x.plan, y: ((x.cantidadStatus / x.cantidadTotal)*100).toFixed()});
                });
                me.$refs.chart.updateOptions({
                    title: {
                    text: 'PLANES DE ACCIÓN STATUS '+me.selectStatus,
                    align: 'center',
                    style: {
                        fontSize:  '20px',
                        fontWeight: 'bold' ,
                        fontFamily:  'arial',
                        color:  '#2E2E2E'
                    },
                },
                })
                me.$refs.chart.updateSeries([{
                    name: 'Porcentaje de Avance',
                    data: me.plan
                }]);
            }).catch(function(error){
                console.log(error);
            });
        }
    },
    created(){
        this.grafico1();
    },
    methods:{
        grafico1(){
            let me=this;
            var planArray=[];
            me.series1 = [];
            me.chartOptions1.colors[0] = '#04B404';
            axios.get('api/Plans/ListarPlanAvance/'+'OK').then(function(response){
                me.planArray=response.data;
                me.plan=[];
                me.planArray.map(function(x){
                    me.plan.push({x: x.plan, y: ((x.cantidadStatus / x.cantidadTotal)*100).toFixed()});
                });
                me.$refs.chart.updateOptions({
                    title: {
                        text: 'PLANES DE ACCIÓN STATUS OK',
                        align: 'center',
                        style: {
                            fontSize:  '20px',
                            fontWeight: 'bold' ,
                            fontFamily:  'arial',
                            color:  '#2E2E2E'
                        },
                    },
                })
                me.$refs.chart.updateSeries([{
                    name: 'Porcentaje de Avance',
                    data: me.plan
                }]);
            }).catch(function(error){
                console.log(error);
            });
        }
    }
}
</script>